{% extends "_layout"%}
{% block content %}
{% include "_fulcrum-premium-finance/_includes/_nav" %}
<!-- ABOUT US HEADER - Section 1-->
<div id="about-us" data-aos="fade-up" data-aos-once="true" data-aos-duration="1000" class="about-us-header section">
    <div class="row">

        <!-- ABOUT US heading -->
        <div class="about-us-header-container">
            <h1 data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="about-us-heading-text">South Africa’s most experienced, reliable and professional provider of Premium Finance</h1>
            

            <!-- LEARN MORE BUTTON -->
            <a data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="learn-more-button standard-btn" href="#get-started-container">Learn more</a>
            
            </div>

        </div>

    </div>
</div>

<!-- WHO WE ARE - Section 2-->
<div id="who-we-are" class="about-us-who-we-are section">
    
    <!-- WHO WE ARE - first row -->
    <div class="row">
        <div class="core-values-contianer">
            <h3 data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="core-values-tagline">OUR CORE VALUES</h3>
            <h2 data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="core-values-heading">South Africa’s most experienced, reliable and professional provider of Premium Finance</h2>
            <p data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="core-values-text">Our highly experienced team of specialists, backed by best-in-class systems, delivers an unparalleled experience to discerning clients.</p>
        </div>
    </div>


    <!-- WHO WE ARE - Second row -->
    <div class="row">
        <div class="core-value-main-container">
            
            <!-- PERSPECTIVE -->
            <div class="col-md-6">
            <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="core-value-container">
                <h3 class="core-value-tagline">PERSPECTIVE</h3>
                <h2 class="core-value-heading">We see it differently</h2>
                <p class="core-value-text">Being able to see things from a different perspective helps us define the solution that best suits your needs.</p>
            </div>
            </div>

            <!-- SOLUTIONIST -->
            <div class="col-md-6">
            <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="core-value-container">
                <h3 class="core-value-tagline">SOLUTIONIST</h3>
                <h2 class="core-value-heading">There is always a better way.</h2>
                <p class="core-value-text">There are always many solutions with their pro’s and cons, but if it doesn't completely fill your needs we will find one that does.</p>
            </div>
        </div>
        
        </div>
    </div>

     <!-- WHO WE ARE - Third row -->
     <div class="row">
        <div id="get-started-container" class="get-started-container">
            <video data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="about-us-video" controls poster="/web/assets/general/about-us/fulcrum-about-us-video-thumbnail.png">
                <source src="/web/assets/general/about-us/Fulcrum-Premium-Finance_about-us-video.mp4" type="video/mp4" width="100%">
                <source src="" type="video/ogg">
                Your browser does not support HTML video.
            </video>
        </div>
    </div>

    
</div>

<!-- TESTIMONIAL - Section 3-->
<div id="about-us-testimonial" class="section-grad">
    <div class="row">

        <!--Testimonial-->
        <div class="testimonial">
            <div class="testimonial-container">
                <img data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="open-quote" src="/web/assets/general/testimonial/open-quote-mark.svg" alt="open-quote">
                <h2 data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="testimonial-quote">Fulcrum provides seamless, <br>rapid Premium Finance solutions while taking care of collections.</h2>
                <img data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="close-quote" src="/web/assets/general/testimonial/closing-quote-mark.svg" alt="close-quote"> 
                <h5 data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="testimonial-name">Delarey van Dyk</h5>
                <p data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="testimonial-job-description">Managing Director at Fulcrum Premium Finance</p>    
            </div>
        </div>
    
    </div>
</div>


<!-- MEET THE TEAM - Section 3-->

<div class="section">
    <div class="row">
        <div class="meet-the-team-container">
            <h2 data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="meet-the-team-header">Meet the Team</h2>
            <p data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="meet-the-team-text">We drive ourselves to create products and services that make a difference – no matter how big or small your business challenge.</p>
            <h3 data-aos="zoom-in" data-aos-once="true" data-aos-duration="1000" class="meet-the-team-tagline">Because we believe there is always a better way.</p>
        </div>
        {% include "_fulcrum-premium-finance/_includes/_meet-the-team" %}
    </div>

    </div>






<!-- WE ARE HERE - Section 4-->
<div class="we-are-here-header section-grey">
    <div class="row">
        <div class="we-are-heare-header-container">
            <h2 class="we-are-here-heading">We are here</h2>
            <p class="we-are-here-text">We have have offices operating across the country.<br>Find which one is nearest to you.</p>
        </div>
    </div>
</div>

<!-- WE ARE HERE MAP - SECTION 5 -->
<div class="we-are-here-map">
    
    <div class="google-map-container col-md-7">
    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3583.752006528977!2d28.029321315027328!3d-26.074359983495704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95737773b7d113%3A0xb4a7efce44c85fd0!2s35%20Ballyclare%20Dr%2C%20Bryanston%2C%20Sandton%2C%202191!5e0!3m2!1sen!2sza!4v1598013419177!5m2!1sen!2sza"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    
    <!-- LOCATIONS -->
    <div class="col-md-4">
        <div class="locations-wrapper">
            
            <!-- GAUTENG-->
            <div class="location-container">
                <h2 class="location">GAUTENG</h2>
                <h3 class="portfolio-manager">Taryn Garson</h3>
                <p class="contact-details">Portfolio Manager<br>T: 072 280 9940<br>E:taryng@fulcrum.co.za</p>
            </div>

            <!-- KWAZULU NATAL -->
            <div class="location-container">
                <h2 class="location">KWAZULU NATAL</h2>
                <h3 class="portfolio-manager">Valecia McIntosh</h3>
                <p class="contact-details">Portfolio Manager<br>T: 062 880 4540<br>E:valeciam@fulcrum.co.za</p>
            </div>

            <!-- WESTERN CAPE -->
            <div class="location-container">
                <h2 class="location">WESTERN CAPE</h2>
                <h3 class="portfolio-manager">Bonita Faria</h3>
                <p class="contact-details">Portfolio Manager<br>T: 082 520 7159
<br>E:bonitaf@fulcrum.co.za</p>
            </div>

        </div>
    </div>


</div>

{% include "_fulcrum-premium-finance/_includes/_contact-form" %}
{% include "_fulcrum-premium-finance/_includes/_footer" %}
{% endblock %}
    






