{% extends "_layout"%}
{% block content %}
<!-- ABOUT US HEADER - Section 1-->
<div id="about-us" class="about-us-header section">
    <div class="row">

        <!-- ABOUT US heading -->
        <div class="about-us-header-container">
            <h1>South Africa's trusted provider of insurance Premium Financing</h1>
            <p>Fulcrum is the largest an most reputable solutions within the South African marketplace</p>
            

            <!-- LEARN MORE BUTTON -->
            <a class="learn-more-button standard-btn" href="">Learn more</a>
            
            </div>

        </div>

    </div>
</div>

<!-- WHO WE ARE - Section 2-->
<div class="about-us-who-we-are section">
    
    <!-- WHO WE ARE - first row -->
    <div class="row">
        <div class="core-values-contianer">
            <h3 class="core-values-tagline">OUR CORE VALUES</h3>
            <h2 class="core-values-heading"></h2>
            <p class="core-values-text"></p>
        </div>
    </div>


    <!-- WHO WE ARE - Second row -->
    <div class="row">
        <div class="core-value-container">
            
            <!-- PERSPECTIVE -->
            <div class="core-value-container">
                <h3 class="core-value-tagline">PERSPECTIVE</h3>
                <h2 class="core-value-heading">We see it differently</h2>
                <p class="core-value-text">Being able to see things from a different perspective helps us define the solution that best suits your needs.</p>
            </div>

            <!-- SOLUTIONIST -->
            <div class="core-value-container">
                <h3 class="core-value-tagline">PERSPECTIVE</h3>
                <h2 class="core-value-heading">We see it differently</h2>
                <p class="core-value-text">Being able to see things from a different perspective helps us define the solution that best suits your needs.</p>
            </div>
        
        </div>
    </div>

     <!-- WHO WE ARE - Third row -->
     <div class="row">
        <div class="get-started-container">
            <video width="100%" controls>
                <source src="mov_bbb.mp4" type="video/mp4">
                <source src="mov_bbb.ogg" type="video/ogg">
                Your browser does not support HTML video.
            </video>
        </div>
    </div>

    <!-- BUBBLE GRAPHIC-->
    <div class="bubble-graphic"><img src="/web/assets/landingpages/Fulcrum-gradient_circles-02.png" ></div>
    
</div>

<!-- TESTIMONIAL - Section 3-->
<div id="about-us-testimonial" class="section-grad">
    <div class="row">

        <!--Testimonial-->
        <div class="testimonial">
            <div class="testimonial-container">
                <img class="open-quote" src="/web/assets/landingpages/open-quote-mark.svg" alt="open-quote">
                <h2 class="testimonial-quote">Fulcrum provides seamless, <br>rapid Premium Finance solutions while taking care of collections.</h2>
                <img class="close-quote" src="/web/assets/landingpages/closing-quote-mark.svg" alt="close-quote"> 
                <h5 class="testimonial-name">Delarey van Dyk</h5>
                <p class="testimonial-job-description">Managing Director at Fulcrum Premium Finance</p>    
            </div>
        </div>
    
    </div>
</div>


<!-- MEET THE TEAM - Section 3-->
 <!-- Container for the image gallery -->
 <div id="meet-the-team" class="container">

<!-- Full-width images with number text -->
<div class="mySlides">
  <div class="numbertext">1 / 6</div>
    <img src="img_woods_wide.jpg" style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">2 / 6</div>
    <img src="img_5terre_wide.jpg" style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">3 / 6</div>
    <img src="img_mountains_wide.jpg" style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">4 / 6</div>
    <img src="img_lights_wide.jpg" style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">5 / 6</div>
    <img src="img_nature_wide.jpg" style="width:100%">
</div>

<div class="mySlides">
  <div class="numbertext">6 / 6</div>
    <img src="img_snow_wide.jpg" style="width:100%">
</div>

<!-- Next and previous buttons -->
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

<!-- Image text -->
<div class="caption-container">
  <p id="caption"></p>
</div>

<!-- Thumbnail images -->
<div class="row">
  <div class="column">
    <img class="demo cursor" src="img_woods.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
  </div>
  <div class="column">
    <img class="demo cursor" src="img_5terre.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
  </div>
  <div class="column">
    <img class="demo cursor" src="img_mountains.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
  </div>
  <div class="column">
    <img class="demo cursor" src="img_lights.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
  </div>
  <div class="column">
    <img class="demo cursor" src="img_nature.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
  </div>
  <div class="column">
    <img class="demo cursor" src="img_snow.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
  </div>
</div>
</div>

<!-- WE ARE HERE - Section 4-->
<div class="we-are-here-header section-grey">
    <div class="row">
        <div class="we-are-heare-header-contianer">
            <h2 class="we-are-here-heading">We are here</h2>
            <p class="we-are-here-text">We have offices across the country.<br>Find which one is nearest to you.</p>
        </div>
    </div>
</div>

<!-- WE ARE HERE MAP - SECTION 5 -->
<div class="we-are-here-map section">
    
    <div class="col-md-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3583.752006528977!2d28.029321315027328!3d-26.074359983495704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95737773b7d113%3A0xb4a7efce44c85fd0!2s35%20Ballyclare%20Dr%2C%20Bryanston%2C%20Sandton%2C%202191!5e0!3m2!1sen!2sza!4v1598013419177!5m2!1sen!2sza" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    
    <!-- LOCATIONS -->
    <div class="col-md-4">
        <div class="locations-wrapper">
            
            <!-- GAUTENG-->
            <div class="location-container">
                <h2 class="location"></h2>
                <h3 class="portfolio-manager"></h3>
                <p class="contact-details"></p>
            </div>

            <!-- KWAZULU NATAL -->
            <div class="location-container">
                <h2 class="location"></h2>
                <h3 class="portfolio-manager"></h3>
                <p class="contact-details"></p>
            </div>

            <!-- WESTERN CAPE -->
            <div class="location-container">
                <h2 class="location"></h2>
                <h3 class="portfolio-manager"></h3>
                <p class="contact-details"></p>
            </div>

        </div>
    </div>


</div>

{% include "_fulcrum-premium-finance/_includes/_contact-form" %}
{% include "_fulcrum-premium-finance/_includes/_footer" %}
{% endblock %}
    






