{% extends "_layout" %}
{% block content %}

<!-- Landing page section one HEADER -->
    <div id="lp_header-section" class="main-header animate__backInLeft">
        <div class="">
           <div class="row">
                <!-- Left Column  -->
               <div class="lp-header-left col-md-8">
                    <!-- top nav  -->
                    <div style="padding-bottom: 70px" class="lp-top-nav">
                        <div class="lp-menu-logo">
                       <a href="" ><img src="/web/assets/landingpages/Fulcrum_Premium_Finance-lp-header-logo.svg"/></a> 
                        </div>
                    </div>
    
                    <!-- Main header text  -->
                    <div class="lp-header-text">
                        <h5 class="tagline">South Africa’s trusted provider of insurance Premium Financing</h5>
                        <h1 class="heading-text">A trusted and attractive financing solution for businesses with complex or costly annualised insurance.<h1>
                    </div>


                    <!-- Fulcrum Offering - circles  -->
                    <div class="lp-header-circle-container">
                        <img src="/web/assets/landingpages/fulcrum-lp-header-bubble-temp-image.png">
                    </div>

                </div>

                <!-- Right Column  -->
                <div class="lp-header-right col-md-4">

                    <!-- Fulcrum GET IN TOUCH form  -->
                    <div class="lp-getintouch-form">
                        <div class="lp-getintouch-form-container">
                            <h2 class="lp-getintouch-heading">Get in touch</h2>
                            <p class="lp-getintouch-text">Our highly experienced team of specialists, backed by best-in-class systems delivers an unparrel </p>
                            <form class="lp-contact-form" action="/action_page.php">
                                <label class="lp-contact-form-label" for="fname">Your name:</label><br>
                                <input class="lp-contact-form-input"type="text" id="fname" name="fname" value=""><br>
                                <label class="lp-contact-form-label" for="lname">Email:</label><br>
                                <input class="lp-contact-form-input"type="text" id="lname" name="lname" value=""><br>
                                <label class="lp-contact-form-label" for="lname">Company:</label><br>
                                <input class="lp-contact-form-input"type="text" id="lname" name="lname" value=""><br><br>
                                <label class="lp-contact-form-privacy-policy-accept-container"for="privacy-policy-accept">I agree to Fulcrum's conditions of use and <a class="privacy-link" href="" >privacy policy</a>.
                                    <input class="lp-contact-form-check-box" type="checkbox" id="Privacy" name="privacy" value="accept">
                                    <span class="checkmark"></span><br>
                               </label>
                                <input class="lp-contact-form-submit-btn" type="submit" value="Lets chat">
                            </form>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>

<!-- Landing page section BENEFITS -->
    <div id="lp_broker-section-two" class="section">

        <!-- Benefits Heading -->
        <div class="row">
            <h1 class="broker-benefits-header">How do brokers <br>benefit<h1>
        </div>


         <!-- Benefits Points -->
        <div class="row">
            <div class="col-md-6">
                <div class="benefits-container">

                    <!-- Benefits Point One -->
                    <div class="benefit-container benefit-1">
                        <img class="benefit-icon" src="/web/assets/landingpages/lp-broker-benefit-icon-1.svg"/>
                        <h4 class="broker-benefit-heading">Financial Benefit</h4>
                        <p class="broker-benefit-text">Brokers will receive their full annual fees and commissions upfront.</p>
                    </div>

                    <!-- Benefits Point Two -->
                    <div class="benefit-container benefit-2">
                        <img class="benefit-icon" src="/web/assets/landingpages/lp-broker-benefit-icon-2.svg"/>
                        <h4 class="broker-benefit-heading">Client retention</h4>
                        <p class="broker-benefit-text">Financed clients are are less susceptible to being poached by other Brokers during the term of the policy.</p>
                    </div>

                    <!-- Benefits Point One -->
                    <div class="benefit-container benefit-3">
                        <img class="benefit-icon" src="/web/assets/landingpages/lp-broker-benefit-icon-3.svg"/>
                        <h4 class="broker-benefit-heading">Reduced administration</h4>
                        <p class="broker-benefit-text">Fulcrum handles the debit orders and credit control.</p>
                    </div>

                    <!-- Benefits Point One -->
                    <div class="benefit-container benefit-4">
                        <img class="benefit-icon" src="/web/assets/landingpages/lp-broker-benefit-icon-4.svg"/>
                        <h4 class="broker-benefit-heading">Fulcrum Collections</h4>
                        <p class="broker-benefit-text">As a member of the Fulcrum Group, we can handle collection requirements.</p>
                    </div>
                
                </div>
            </div>
        </div>
        
        <!-- Benefits LETS CHAT button -->
        <div class="row">
            <a class="benefits-btn standard-btn">Lets Chat</a>
        </div>

    </div>



<!-- Landing page section three TESTIMONIAL-->
    <div id="lp_section-four" class="section-grad">
        <div class="row">

            <!--Testimonial-->
            <div class="testimonial">
                <div class="testimonial-container">
                    <img class="open-quote" src="/web/assets/landingpages/open-quote-mark.svg" alt="open-quote">
                    <h2 class="testimonial-quote">Fulcrum provides seamless, <br>rapid Premium Finance solutions while taking care of collections.</h2>
                    <img class="close-quote" src="/web/assets/landingpages/closing-quote-mark.svg" alt="close-quote"> 
                    <h5 class="testimonial-name">Delarey van Dyk</h5>
                    <p class="testimonial-job-description">Managing Director at Fulcrum Premium Finance</p>
                    
                </div>
            </div>

            <!-- Client logo Carousel -->
            <div class="container">
                <section class="customer-logos slider">
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-1.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-2.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-3.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-4.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-5.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-6.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-1.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-2.svg"></div>
                </section>
            </div> 
        
        </div>      
    </div>

<!-- Landing page section four WHY USE US-->
    <div id="lp_section-four" class="section">

        <div class="row">
            <!-- Why use us heading-->
            <div class="why-use-us">
                <h2 class="Why-use-us-heading">Why use us?</h2>
                <p class="Why-use-us-text">In times of uncertainty businesses need a seamless and safe solution. Fulcrum remains SA’s most trusted, professional and reliable provider. </p>
            </div>           
        </div>

        <div class="row">

            <!-- Reason one -->
            <div class="broker-reason-container col-md-4">
                <div id="broker-reason-one">
                    <h2 class="broker-reason-heading">R900</h2>
                    <h3 class="broker-reason-subheading">Million</h3>
                    <p class="broker-reason-text">Standard Premium<br>Finance Business</p>
                </div>     
            </div>

            <!-- Reason two -->
            <div class="broker-reason-container col-md-4">
                <div id="broker-reason-two">
                    <h4 class="broker-reason-heading">R100</h4>
                    <h2 class="broker-reason-subheading">Million</h2>
                    <p class="broker-reason-text">Schemes Premium<br>Finance Business</p>
                </div>     
            </div>

            <!-- Reason three -->
            <div class="broker-reason-container col-md-4">
                <div id="broker-reason-three">
                    <h4 class="broker-reason-heading">R1</h4>
                    <h2 class="broker-reason-subheading">Billion</h2>
                    <p class="broker-reason-text">Premium Financed<br>Per Annum</p>
                </div>     
            </div>

        </div>   

        </div>  
    </div>

    <div class="bubble-graphic"><img src="/web/assets/landingpages/Fulcrum-gradient_circles-02.png" ></div>


<!-- Landing page section five FINAL PITCH-->
    <div id="lp_section-five" class="section-grey">
            <div class="row">
            
                <!-- Final Pitch text -->
                <div class="final-pitch-container">
                    <h2 class="final-heading">A trusted and attractive financing solution for businesses with complex or costly annualised insurance.</h2>
                    <p class="final-text">Where your clients have multiple lines of insurance with different insurers or where those insurers require premiums to be paid annually, Premium Finance may be the only solution.</p>
                    <a class="contact-btn standard-btn" href="">Contact us today</a>
                </div>
        
            </div>
    </div>


<!-- Landing page FOOTER -->
    <div id="landingpage-footer">
        <div id="landingpage-footer-section" class="section-grad ">
            <div class="row">
               <div class="landingpage-footer-container">
                    <!-- LP footer left-side LOGO -->
                    <div class="left-lp-footer-col">
                        <a class="lp-footer-logo" href=""><img src="/web/assets/landingpages/Fulcrum Premium Finance - Footer logo.svg" /></a>
                        <p class="lp-footer-text">© FULCRUM PREMIUM FINANCE 2020. All rights reserved.</p>
                    </div>

                    <!-- LP footer right-side SOCIAL MEDIA ICONS -->
                    <div class="right-lp-footer-col">

                        <div class="right-lp-footer-col-heading-container">
                            <p class="follow-us">FOLLOW US</p>
                        </div>

                        <div class="lp-footer-social-media-icons-container">
                            <a id="lp-footer-instagram" class="lp-footer-social-icon"><img src="/web/assets/landingpages/instagram-footer-icon.svg"></a>
                            <a id="lp-footer-facebook" class="lp-footer-social-icon"><img src="/web/assets/landingpages/facebook-footer-icon.svg"></a>
                            <a id="lp-footer-twitter" class="lp-footer-social-icon"><img src="/web/assets/landingpages/twitter-footer-icon.svg"></a>
                            <a id="lp-footer-youtube" class="lp-footer-social-icon"><img src="/web/assets/landingpages/youtube-footer-icon.svg"></a>
                            <a id="lp-footer-linkedin" class="lp-footer-social-icon"><img src="/web/assets/landingpages/linkedin-footer-icon.svg"></a>
                        </div>

                    </div> 
       
                </div>
        </div>
    </div>

{% endblock %}


