<!-- HEADER - Section 1-->
<div class="homepage-header section">
    <div class="row">

        <!-- Homepage heading -->
        <div class="homepage-header-container">
            <h1>South Africa's trusted provider of insurance Premium Financing</h1>
            <p>Fulcrum is the largest an most reputable solutions within the South African marketplace</p>
            
            <!-- Homepage Header Buttons -->
            <div class="homepage-header-buttons-container">
                
                <!-- WATCH VIDEO BUTTON -->
                <a class="watch-video-button" href=""><img src=""/>Watch Video</a>

                <!-- LEARN MORE BUTTON -->
                <a class="learn-more-button standard-btn" href="">Learn more</a>
            
            </div>

        </div>

    </div>
</div>

<!-- ABOUT US - Section 2-->
<div class="homepage-about-us section">
    <div class="row">

        <!-- FULCRUM LOGO -->
        <div class="about-us-fulcrum-logo"><img src="" alt=""></div>
        
        <!-- ABOUT US BUBBLE GRAPHIC -->
        <div class="about-us-graphic-container">
            <div class="about-us-graphic">
                <img src="">
            </div>
        </div>

    </div>
</div>

<!-- WHY OUR CLIENTS CHOOSE US - Section 3 -->
<div class="homepage-why-us section-grey">
    <div clas="row">    
        <div class="col-md-8">

            <!-- WHY OUR CLIENTS CHOOSE US - Header -->
            <div class="why-our-clients-container">
                <h3 class="why-our-clients-tagline"></h3>
                <h2 class="why-our-clients-heading"></h2>
                <p class="why-our-clients-text"></p>
            </div>

            <!-- WHY OUR CLIENTS CHOOSE US - Reasona container -->
            <div class="why-our-clients-reasons-container">

                <!-- WHY OUR CLIENTS CHOOSE US - Reason 1 -->
                <div class="why-our-clients-reason-one"> 
                    <img src="">
                    <p></p>
                </div>

                <!-- WHY OUR CLIENTS CHOOSE US - Reason 2 -->
                <div class="why-our-clients-reason-one"> 
                    <img src="">
                    <p></p>
                </div>

                <!-- WHY OUR CLIENTS CHOOSE US - Reason 3 -->
                <div class="why-our-clients-reason-one"> 
                    <img src="">
                    <p></p>
                </div>

            </div>
               
            <!-- WHY OUR CLIENTS CHOOSE US - learn more button -->
            <div class="">
                <a href="" class="standard-btn">Learn more</a>
            </div>

        </div>
    </div>
</div>

<!-- WHAT ARE THE BENEFITS - Section 4 -->
<div class="homepage-benefits section">
    <div clas="row">

        <div class="homepage-benefits-container">

            <!-- Benefits header -->
            <h2 class="hompage-benefits-heading"><h2>

            <!-- Benfits points -->
            <div class="hompage-benefits-point-container">
                
                <div class="homepage-benefit">
                    <img class="homepage-benefit-icon" src="">
                    <h2 class="homepage-benfits-header"></h2>
                    <p class="homepage-benefit-text"></p>
                </div>

                <div class="homepage-benefit">
                    <img class="homepage-benefit-icon" src="">
                    <h2 class="homepage-benfits-header"></h2>
                    <p class="homepage-benefit-text"></p>
                </div>

                <div class="homepage-benefit">
                    <img class="homepage-benefit-icon" src="">
                    <h2 class="homepage-benfits-header"></h2>
                    <p class="homepage-benefit-text"></p>
                </div>
            
            </div>
        </div>

    </div>
</div>

<!-- TESTIMONIALS - Section 5 -->
<div class="homepage-testimonials section-grad">
    <div class="row">

        <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                        
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                <li data-target="#testimonial-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="la.jpg" alt="Los Angeles">
                </div>

                <div class="item">
                    <img src="chicago.jpg" alt="Chicago">
                </div>

                <div class="item">
                    <img src="ny.jpg" alt="New York">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="testimonial-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            
            <a class="right carousel-control" href="testimonial-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>




                