{% extends "_layout" %}

{% block content %}

<!-- Landing page header section -->
<div id="lp_header-section" class="main-header">
    <div class="section">
        <div class="row">


            <!-- Left Column  -->
            <div class="lp-header-left col-md-8">

                <!-- top nav  -->
                <div style="padding-bottom: 70px" class="lp-top-nav">
                    <div class="lp-menu-logo">
                       <a href="" ><img src="Fulcrum_Premium_Finance-lp-header-logo.png"/></a> 
                    </div>
                </div>
    

                <!-- Main header texty  -->
                <div class="lp-header-text">
                    <h5 class="tagline">South Africa’s trusted provider of insurance Premium Financing</h5>
                    <h1 class="heading-text">The seamless solution for businesses with annual insurance to preserve cash flow.<h1>
                </div>


                <!-- Fulcrum Offering - circles  -->
                <div class="lp-header-circle-container">
                    <div class="lp-header-cicrle-container">
                        <p class="lp-header-cicrle-text"></p>
                    </div>
                </div>

            </div>

            <!-- Right Column  -->
            <div class="lp-header-right col-md-4">

                    <!-- Fulcrum GET IN TOUCH form  -->
                    <div class="lp-getintouch-form">
                        <div class="lp-getintouch-form-container">
                            <h2 class="lp-getintouch-heading"></h2>
                            <p class="lp-getintouch-text"></p>
                            <form></form>
                        </div>
                    </div>
        
               

            </div>
        </div>
    </div>
</div>

<!-- Landing page section two -->
<div id="lp_section-two" class="section">
    <div class="section">

        <!-- Benefits Heading -->
        <div class="row">
            <h1></h1>
        </div>


         <!-- Benefits Points -->
        <div class="row">
            <div class="col-md-4">
                <div class="benefits-container">

                    <!-- Benefits Point One -->
                    <div class="benefit-container benefit-1">
                        <img class="benefit-icon" src=""/>
                        <p class="benfit-text"></p>
                    </div>
</div>
</div>
</div>
</div>
</div>


{% endblock %}


