{% extends "_layout"%}
{% block content %}
{% include "_fulcrum-premium-finance/_includes/_nav" %}
<!-- BLOG HEADER - SECTION 1 -->
<div id="blog" class="blog-header section">
    <div class="row">

        <!-- BLOG HEADING -->
        <div class="blog-header-container">
            <h1 class="blog-header-title">The latest Premium Finance news content</h1>

            <!-- READ MORE BUTTON -->
            <a class="read-more-button standard-btn" href="">Read more</a>

        </div>

    </div>
</div>

<!-- BLOG INTRO - SECTION 2 -->
<div id="blog-intro" class="section">
    <div class="row">

        <div class="blog-intro-contianer">
            <h2 class="blog-intro-heading">Gain more insight to the benefits if Premium Finance </h2>
            <p class="blog-intro-insight-text">We publsih articles every month related to Premium Financing giving perspective, asking questions and reviewing better ways of  creating the solutions our clients need. Have a look at out latest piece of content </p>
        </div>
    </div>
</div>

<div class="blog-blocks section">


<div class="row">

    <div class="col-md-4">
        <div class="blog-post-container">
               <p> Scope
Our team comprises a diverse range of digital specialists.
We thrive on agility, so we work hard to optimise every single interaction in our clients’ B2B sales funnels.
It’s how we help our clients drive more demand and convert more for less.

Responsibilities
The GDPR Owner is responsible for ensuring that this notice is made available to data subjects prior to Fulcrum Premium Finance collecting/processing their personal data.

All Employees/Staff of Fulcrum Premium Finance who interact with data subjects are responsible for ensuring that this notice is drawn to the data subject’s attention and their consent to the processing of their data is secured.

Privacy notice
WHO ARE WE?
Fulcrum Premium Finance is a specialist digital marketing agency who believes there’s always a smarter, faster and better way market your events.

Information we collect
THE TYPES OF INFORMATION WE MAY OBTAIN ABOUT YOU INCLUDE:
Personal or business contact information (such as name, postal and email address, Twitter handle or phone number, name of your company or department, and your business function or title)
Demographic information (such as age and gender)
The information you provide by interacting with us through our sites, including by submitting questions, commenting on our forums and interacting with us through social media
If you are making a job application or inquiry, you may provide us with contact information and with a copy of your resume or CV or other relevant information.
Contact information of individuals with whom you would like to share Fulcrum Premium Finance content
Other details that you may submit to us or that may be included in the information provided to us by third parties
THE INFORMATION WE MAY COLLECT BY AUTOMATED MEANS INCLUDES:
Information about the devices our visitors use to access the Internet (such as IP address, domain name, and the device, browser and operating system type)
Information on actions taken by visitors on our sites (such as page views and site navigation patterns)
URLs that refer visitors to our sites
Dates and times of visits to our sites
A general geographic location (such as country and city) from which a visitor accesses our sites
Search terms that visitors use to reach our sites
The automated means that may be used to collect this information may include cookies, web beacons, scripts and tags. A “cookie” is a text file that websites send to a visitor’s computer or other Internet-connected device to uniquely identify the visitor’s browser or to store information or settings in the browser. Information collected by cookies (as described below) may be tagged to your personal information, including your contact information, device information or other personal information which you have provided to Fulcrum Premium Finance. A “web beacon,” also known as an Internet tag, pixel tag or clear GIF, is used to transmit information back to a web server. We may use third-party website analytics tools that collect automated information about visitor traffic on our sites. You can read our full Cookie Policy here.

Fulcrum Premium Finance uses Google Analytics to improve our website content. You can learn how Google collects and processes data by going to the website “How Google uses data when you use our partners’ sites or apps”, located at www.google.com/policies/privacy/partners/.

How we use the information we collect
WE MAY USE THE INFORMATION WE OBTAIN ABOUT YOU TO:
Respond to your questions and comments, including requests for information about our company, products and services
Communicate with you (including by phone or by email) about our products, services, offers, surveys, events and promotions, and offer products and services we believe may be of interest to your company
If you have applied for or inquired about a job, we may use the information that you provide to us for the purpose of considering your application or inquiry and communicating with you.
Tailor our offerings to the manner in which visitors use our sites
Register your company on our sites, and identify you as a registered user
Enable you to communicate with us through our blogs, video blogs, online forums, social media pages and other interactive media
Publish your testimonials about Fulcrum Premium Finance, including on our sites, forums, blogs, and social media assets (if we choose to publish your testimonial, we will generally only include your name, title and company name)
Follow up with individuals and companies with whom you have shared Fulcrum Premium Finance content
Manage your participation in our events, conferences, surveys, and other promotions
Operate, evaluate and improve our business and the products and services we offer
Analyze and enhance our marketing communications and lead generation strategies (including by identifying when emails sent to you have been received and read)
Analyze trends and statistics regarding visitors’ use of our sites
Protect against and prevent fraud, unauthorized transactions, and claims, and manage risk exposure
Enforce our contractual rights
Comply with applicable legal requirements, industry standards and our policies
We may combine the information we collect with publicly available information and information we receive from our affiliated companies, business partners and other third parties. We may use that combined information for the purposes described in this Privacy Notice.

We also may use the information we obtain about you in other ways for which we provide specific notice to you.

Online advertising
On our sites, we may collect information about your online activities to provide advertising about products and services tailored to your individual interests. You may see certain ads on our sites and other sites because we participate in advertising networks. Ad networks allow us to target our advertising to users through demographic, behavioral and contextual means. These networks may track your online activities over time and across third-party websites or online services, including by collecting information through automated means through the use of cookies, web server logs, web beacons and other methods. These networks may place cookies, web beacons or similar tracking devices while you are visiting our sites or other sites. The networks use this information to show you advertisements for Fulcrum Premium Finance and our business partners that are tailored to your individual interests. They may also use the information they collect for their own purposes. The information our ad network vendors collect includes information about your visits to websites that participate in the vendors’ advertising networks, such as the pages or advertisements you have viewed, and the actions you take on the sites. This data collection and ad targeting take place both on our sites and on third-party websites that participate in the ad networks. This process also helps us track the effectiveness of our marketing efforts.

We offer you certain choices to limit advertising you may receive from our ad network partners. Please see “Your Choices” section of this Privacy Notice for details.

Information we share
We do not sell, rent, or otherwise disclose personal information about you, except as described in this Privacy Notice.

We may share the information we collect with our affiliated companies, business partners, ad network vendors and their participants, and other third parties for the purposes described in this Privacy Notice, including to communicate with you about products and services, offers, events and promotions that we believe may be of interest to you.

We also may share the information with our service providers that perform services on our behalf. We do not authorize these service providers to use or disclose the information except as necessary to perform certain services on our behalf or comply with legal requirements. We require these service providers by contract to appropriately safeguard the privacy and security of personal information they process on our behalf.

We also may share information about you with other third parties when we have given you an opportunity to opt out of such sharing and you do not opt out.

We may disclose information about you (i) if we are required to do so by law or legal process (such as a court order), (ii) in response to a request by public and governmental authorities within or outside your country of residence, or (iii) when we believe disclosure is necessary or appropriate (a) to prevent physical harm or financial loss or in connection with an investigation of suspected or actual illegal activity, or (b) to enforce our terms and conditions or to protect or defend the rights or property of Fulcrum Premium Finance or our users or customers. We also reserve the right to transfer personal information we have about you in the event we sell, merge or transfer all or a portion of our business or assets. Should such a sale, merger or transfer occur, we will use reasonable efforts to direct the transferee to use personal information you have provided to us in a manner that is consistent with our Privacy Notice. Following such a sale, merger or transfer, you may contact the entity to which we transferred your personal information with any inquiries concerning the processing of that information.

 

Your choices
We offer you certain choices about what information we collect from you, how we use and disclose the information, and how we communicate with you.

You may withdraw any consent you previously provided to us or object at any time on legitimate grounds to the processing of your personal information. We will apply your preferences going forward within a reasonable period of time. In some circumstances, withdrawing your consent to Fulcrum Premium Finance’s use or disclosure of your personal information will mean that you cannot take advantage of certain Fulcrum Premium Finance offerings or site features.

 

Here are the choices we offer:
Sharing Information with Business Partners

You may direct Fulcrum Premium Finance not to share your personal information with third parties’ for those parties’ own purposes. To do so, please email us at DelareyV@fulcrum.co.za.com. If you opt out, we will continue sharing your information as otherwise described in the “Information We Share” section of this Privacy Notice, including with our service providers, to fulfill your requests and to comply with legal requirements.

 

Marketing emails
You may choose not to receive marketing email communications from us by clicking on the unsubscribe link in the marketing emails you receive from us.

 

Targeted advertising
Please note that we may also engage with ad network vendors that may employ their own opt-out mechanisms and may not honor the opt-outs we linked above.

 

Social media widgets
Our website includes social media features, such as social media widgets that link to a social media website or allow you to share website content. These features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the feature to function properly. Social media features, such as widgets are either hosted by a third party or hosted directly on our website. Your interactions with these features are governed by the privacy policy of the company providing it.

 

Community forums
We may give you the opportunity to publish content via community forums, user-editable documents and/or commenting systems made available via our website (collectively referred to as “forums”). You should be aware that any information you provide in these forums (including any personal information) may be indexed by search engines and made available in response to search queries and may be published, read, collected, and used by others who access the forums (even if such users are not registered to the forum). We are not responsible for personal information you choose to submit in these forums. You should exercise caution when deciding to disclose your personal information.

 

Cookies and other tracking technologies
We may use cookies, for example, to keep track of your preferences and profile information. Cookies are also used to collect general usage and volume statistical information that does not include personal information.
We use another company to place cookies on your computer to collect non-personally identifiable information to compile aggregated statistics for us about visitors to our site.

 

Web beacons
Our Web pages contain electronic images known as Web beacons (sometimes called single-pixel gifs) and are used along with cookies to compile aggregated statistics to analyze how our site is used and may be used in some of our emails to let us know which emails and links have been opened by recipients. This allows us to gauge the effectiveness of our customer communications and marketing campaigns.

Our Web pages may also contain electronic images known as Web beacons (sometimes called single-pixel gifs) that are set by our third party partners. Web beacons are used along with cookies enabling our partners to compile aggregated statistics to analyze how our site is used.

We use a third party to gather information about how you and others use our Web site. For example, we will know how many users access a specific page and which links they clicked on. We use this aggregated information to understand and optimize how our site is used.

The cookies include:

Facebook Retargeting Pixel
Twitter Retargeting Code
Google Adwords
 

Access and correction
You may contact us at DelareyV@fulcrum.co.za.com and we will provide you with reasonable access to the personal information we maintain about you. We will also provide you a reasonable opportunity to correct, amend or delete that information where it is inaccurate. We will respond to your request within a reasonable period of time. We may limit or deny access to personal information where providing such access is unreasonably burdensome or expensive under the circumstances, or as we otherwise deem appropriate. In addition, please note that (i) we may not be able to edit or delete your personal information stored with our third-party service providers, and (ii) we may be required (by law or otherwise) to keep this information and not delete it (or to keep this information for a certain time, in which case we will comply with your deletion request only after we have fulfilled such requirements).

 

Links to other websites
Our sites may contain links to other sites for your convenience and information. The links do not signify our endorsement of such other websites or links, its contents, or the third party that offers the site or information. These third-party sites may be operated by companies not affiliated with Fulcrum Premium Finance. Linked sites may have their own privacy notices, which you should review if you visit those websites. They also may collect information about you. We are not responsible for the content of any websites not affiliated with Fulcrum Premium Finance, any use of those sites, or those sites’ privacy practices.

 

How we protect personal information
Fulcrum Premium Finance has implemented administrative, technical and physical safeguards designed to assist the company in protecting the personal information we collect against accidental, unlawful or unauthorized destruction, loss, alteration, access, disclosure or use. Please note that no electronic transmission of information can be entirely secure. We cannot guarantee that the security measures we have in place to safeguard personal information will never be defeated or fail, or that those measures will always be sufficient or effective

 

Children’s privacy
Fulcrum Premium Finance does not direct its sites to children under the age of thirteen. We require site visitors to be at least eighteen years old. If we learn that a user is under eighteen years of age, we will promptly delete any personal information that the individual has provided to us.

 

Updates to this Privacy Notice
This Privacy Notice may be updated periodically and without prior notice to you to reflect changes in our personal information practices. We will post a prominent notice on this site to notify you of any significant changes to our Privacy Notice and indicate at the bottom of the notice when it was most recently updated.

 

How to Contact Us
If you have any questions, comments or concerns about this Privacy Notice, or if you would like us to update information we have about you or your choices or preferences, please contact us by email at DelareyV@fulcrum.co.za.com. You also may write to us at:

Fulcrum Premium Finance
1st Floor, Lacey Oak House,
Ballyoaks Office Park,
35 Ballyclare Drive,
Bryanston, 2191

PO Box 849, Riverclub 2149
</p>
</div>












{% include "_fulcrum-premium-finance/_includes/_contact-form" %}
{% include "_fulcrum-premium-finance/_includes/_footer" %}
{% endblock %}