{% extends "_layout"%}
{% block content %}
{% include "_fulcrum-premium-finance/_includes/_nav" %}
<!-- WHAT WE OFFER HEADER - Section 1-->
<div id="what-we-offer" class="what-we-offer-header section">
    <div class="row">

        <!-- ABOUT US heading -->
        <div class="what-we-offer-header-container">
            <h1 class="what-we-offer-heading">The seamless solution for businesses with annual insurance to preserve cash flow.</h1>
            
            

            <!-- LEARN MORE BUTTON -->
            <a class="learn-more-button standard-btn" href="">Learn more</a>
            
            </div>

        </div>

    </div>
</div>

<!-- REASONS WHY OUR CLIENTS CHOOSE US - Section 2-->
<div id="why-choose-us" class="about-us-who-we-are section">
    
    <!-- WHY CHOOSE US - heading -->
    <div class="row">
        <div class="why-choose-us">
            <h2 class="why-choose-us-heading">Reasons why our clients choose us</h2>
        </div>
    </div>

    <!-- WHY CHOOSE US - carousel -->
    <div class="row">
        <div class="Why-choose-us-container">
            <div class="number-row">

                <!-- NUMBER ROW -->
                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>

                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>

                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>

                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>

                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>
                
                <!-- SLIDES -->
                <div class="mySlides">
  <div class="row">
    <div class="team-member-container">
        <div class="profile-image-container col-md-6">
            <div class="profile-image">
                <img src="/web/assets/general/about-us/team-members/team-member-3.png">
            </div>
        </div>

        <div class="about-me-container col-md-6">
            <div class="about-me">
                <h2 class="team-member-quote">Fulcrum provides seamless, rapid Premium Finance solutions while taking care of collections</h2>
                <h3 class="team-member-name">Delarey van Dyk</h3>
                <p class="team-member-position">Managing Director</p>
                <img class="team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>    
    </div>
  </div>              
</div>

                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>
                
            </div>
        </div>
    </div>

</div>





<!-- WHY USE US - Section 3 -->
<div id="why-use-us-section" class="section-grey">

    <div class="row">
        <!-- Why use us heading-->
        <div class="why-use-us">
            <h2 class="Why-use-us-heading">Why use us?</h2>
            <p class="Why-use-us-text">In times of uncertainty businesses need a seamless and safe solution. Fulcrum remains SA’s most trusted, professional and reliable provider. </p>
        </div>           
    </div>

    <div class="row">

        <!-- Reason one -->
        <div class="why-use-us-reason-container col-md-4">
            <div id="why-use-us-reason-one">
                <h2 class="why-use-us-reason-heading">R900</h2>
                <h3 class="why-use-us-reason-subheading">Million</h3>
                <p class="why-use-us-reason-text">Standard Premium<br>Finance Business</p>
            </div>     
        </div>

        <!-- Reason two -->
        <div class="why-use-us-reason-container col-md-4">
            <div id="why-use-us-reason-two">
                <h4 class="why-use-us-reason-heading">R100</h4>
                <h2 class="why-use-us-reason-subheading">Million</h2>
                <p class="why-use-us-reason-text">Schemes Premium<br>Finance Business</p>
            </div>     
        </div>

        <!-- Reason three -->
        <div class="why-use-us-reason-container col-md-4">
            <div id="why-use-us-reason-three">
                <h4 class="why-use-us-reason-heading">R1</h4>
                <h2 class="why-use-us-reason-subheading">Billion</h2>
                <p class="why-use-us-reason-text">Premium Financed<br>Per Annum</p>
            </div>     
        </div>

    </div>

    <div class="row">
        <div class="why-use-us-btn-container">
            <a href="" class="why-use-us-btn standard-btn">Learn more</a>
        </div>
    </div>

</div>


<!-- BUBBLE GRAPHIC-->
    <div class="bubble-graphic-wwo-one" src="/web/assets/general/misc/Fulcrum-gradient_circles-04.png" ></div>

<!-- ABOUT FULCRUM - Section 4 -->
<div id="about-fulcrum" class="section">
    <div class="row">
        <div class="col-md-6">

            <div class="about-fulcrum-heading-container">
                <h2 class="about-fulcrum-heading">About Fulcrum Premium Finance </h2>
                <p class="about-fulcrum-text">Started out in RSA as an in-house provider of premium finance to Glenrand MIB Group in 2002.</p>
            </div>

            <div class="about-fulcrum-facts-wrapper">
                <div class="fact-container">
                    <h3 class="fact-heading">Fact</h3>
                    <p id="fact-one" class="fact-content">Over 80 Brokers and 2800 underlying clients (debtors) on our current book within RSA.</p>
                </div>

                <div class="fact-container">
                    <h3 class="fact-heading">Fact</h3>
                    <p id="fact-two" class="fact-content">Incorporation of Fulcrum Capital International (domiciled in Mauritius) which provides premium financing into the African marketplace.</p>
                </div>
            </div>

            <div class="about-fulcrum-btn">
                <a href="" class="standard-btn">Lets chat</a>
            </div>
        
        </div>
    </div>
</div>



<!-- BUBBLE GRAPHIC-->
    <div class="bubble-graphic-wwo-two"><img src="/web/assets/general/misc/Fulcrum-gradient_circles-01.png" ></div>




<!-- MOST TRUSTED PROVIDER - Section 5 -->
<div id="most-trusted" class="section-grey">
    <div class="most-trusted-container row">

        <div class="col-md-4">
            <div class="most-trusted-intro-container">
                <h2 class="most-trusted-heading">SA’s most trusted provider of Premium Finance solutions.</h2>
            </div>
        </div>

        <div class="col-md-5">
            <div class="most-trusted-content-container">
                <p class="most-trusted-text">We provide a Premium Finance facility for domestic, corporate and commercial clients who wish to finance their annual short term insurance premiums, enabling them to pay their annual insurance premiums on a monthly basis.</p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="most-trusted-btn-container">
                <a href="" class="standard-btn">Lets chat</a>
            </div>
        </div>

    </div>
</div>

<!-- WHAT IS THE PROCESS - Section 6 -->
<div id="what-is-process-section" class="section">
    <div class="row">
        <div class="what-is-process-container">
            <h2 class="what-is-process-heading">How onerous is the process of setting up a Premium Finance facility?</h2>
            <p class="what-is-process-content">Once in receipt of an annual insurance quote, either the Client or the Broker may contact Fulcrum directly for a Premium Finance quotation</p>
            <a href="" id="what-is-process-btn" class="standard-btn">Learn more</a>
        </div>
    </div>
</div>

<div class="bubble-graphic"><img src="/web/assets/general/misc/Fulcrum-gradient_circles-02.png" ></div>

<!-- CASE STUDIES - Section 7 -->
<div id="client-profiles" class="section-grad">
    <div class="row">
        <div class="client-profiles-heading-container">
            <h3 class="client-profile-tagline">CASE STUDIES</h3>
            <h2 class="client-profile-heading">Some of our client profiles</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="client-profile-container">
                <img class="client-profile-logo" src="/web/assets/general/what-we-offer/client_profile_logos/Group-45.png" alt="">
                <p class="client-profile-summary">Hitachi brings Information Technology & Operational Technology together to help our clients transform for the IoT era.</p>
                <a href="" class="client-profile-link">Action Link</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="client-profile-container">
                <img class="client-profile-logo" src="/web/assets/general/what-we-offer/client_profile_logos/Group-47.png" alt="">
                <p class="client-profile-summary">Capegate Shopping Centre is conveniently located in the Northern Suburbs of Cape Town, just off the N1 highway in the heart of the bustling Cape Gate precinct.</p>
                <a href="" class="client-profile-link">Action Link</a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="client-profile-container">
                <img class="client-profile-logo" src="/web/assets/general/what-we-offer/client_profile_logos/Group-46.png" alt="">
                <p class="client-profile-summary">EKCON specialise in structural, mechanical, civil and project engineering, additional design services for Wet Services, rational fire, lifts, escalators and HVAC projects.'</p>
                <a href="" class="client-profile-link">Action Link</a>
            </div>
        </div>
    </div>

</div>

{% include "_fulcrum-premium-finance/_includes/_contact-form" %}
{% include "_fulcrum-premium-finance/_includes/_footer" %}
{% endblock %}
    






