{% extends "_layout"%}
{% block content %}
<!-- WHAT WE OFFER HEADER - Section 1-->
<div id="what-we-offer" class="about-us-header section">
    <div class="row">

        <!-- ABOUT US heading -->
        <div class="about-us-header-container">
            <h1>South Africa's trusted provider of insurance Premium Financing</h1>
            <p>Fulcrum is the largest an most reputable solutions within the South African marketplace</p>
            

            <!-- LEARN MORE BUTTON -->
            <a class="learn-more-button standard-btn" href="">Learn more</a>
            
            </div>

        </div>

    </div>
</div>

<!-- REASONS WHY OUR CLIENTS CHOOSE US - Section 2-->
<div class="about-us-who-we-are section">
    
    <!-- WHY CHOOSE US - heading -->
    <div class="row">
        <div class="why-choose-us">
            <h2 class="why-choose-us-heading"></h2>
        </div>
    </div>

    <!-- WHY CHOOSE US - carousel -->
    <div class="row">
        <div class="Why-choose-us-container">
            <div class="number-row">

                <!-- NUMBER ROW -->
                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>

                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>

                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>

                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>

                <div class="number-column">
                    <img class="demo cursor" src="" style="100%" onclick="currentSlide(1)" alt="">
                </div>
                
                <!-- SLIDES -->
                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="img_woods_wide.jpg" style="width:100%">
                </div>
                
            </div>
        </div>
    </div>

</div>

<!-- WHY USE US - Section 3 -->
<div id="why-use-us-section" class="section-grey">

    <div class="row">
        <!-- Why use us heading-->
        <div class="why-use-us">
            <h2 class="Why-use-us-heading">Why use us?</h2>
            <p class="Why-use-us-text">In times of uncertainty businesses need a seamless and safe solution. Fulcrum remains SA’s most trusted, professional and reliable provider. </p>
        </div>           
    </div>

    <div class="row">

        <!-- Reason one -->
        <div class="broker-reason-container col-md-4">
            <div id="broker-reason-one">
                <h2 class="broker-reason-heading">R900</h2>
                <h3 class="broker-reason-subheading">Million</h3>
                <p class="broker-reason-text">Standard Premium<br>Finance Business</p>
            </div>     
        </div>

        <!-- Reason two -->
        <div class="broker-reason-container col-md-4">
            <div id="broker-reason-two">
                <h4 class="broker-reason-heading">R100</h4>
                <h2 class="broker-reason-subheading">Million</h2>
                <p class="broker-reason-text">Schemes Premium<br>Finance Business</p>
            </div>     
        </div>

        <!-- Reason three -->
        <div class="broker-reason-container col-md-4">
            <div id="broker-reason-three">
                <h4 class="broker-reason-heading">R1</h4>
                <h2 class="broker-reason-subheading">Billion</h2>
                <p class="broker-reason-text">Premium Financed<br>Per Annum</p>
            </div>     
        </div>

    </div>

    <div class="row">
        <div class="why-use-us-btn">
            <a href="" class="standard-btn">Learn more</a>
        </div>
    </div>

</div>

<!-- ABOUT FULCRUM - Section 4 -->
<div id="about-fulcrum" class="section">
    <div class="row">
        <div class="col-md-6">

            <div class="about-fulcrum-heading-container">
                <h2 class="about-fulcrum-heading"></h2>
                <p class="about-fulcrum-text"></p>
            </div>

            <div class="about-fulcrum-facts-wrapper">
                <div class="fact-container">
                    <h3 class="fact-heading">Fact</h3>
                    <p class="fact-content"></p>
                </div>

                <div class="fact-container">
                    <h3 class="fact-heading">Fact</h3>
                    <p class="fact-content"></p>
                </div>
            </div>

            <div class="about-fulcrum-btn">
                <a href="" class="standard-btn"></a>
            </div>
        
        </div>
    </div>
</div>

<!-- MOST TRUSTED PROVIDER - Section 5 -->
<div id="most-trusted" class="section-grey">
    <div class="row">

        <div class="col-md-3">
            <div class="most-trusted-intro-container">
                <h2 class="most-trusted-heading"></h2>
            </div>
        </div>

        <div class="col-md-6">
            <div class="most-trusted-content-container">
                <p class="most-trusted-text"></p>
            </div>
        </div>

        <div class="col-md-3">
            <div class="most-trusted-btn-container">
                <a href="" class="standard-btn"></a>
            </div>
        </div>

    </div>
</div>

<!-- WHAT IS THE PROCESS - Section 6 -->
<div id="what-is-process-section" class="section">
    <div class="row">
        <div class="what-is-process-container">
            <h2 class="what-is-process-heading"></h2>
            <p class="what-is-process-content"></p>
            <a href="" id="what-is-process-btn" class="standard-btn">Learn more</a>
        </div>
    </div>
</div>

<div class="bubble-graphic"><img src="/web/assets/landingpages/Fulcrum-gradient_circles-02.png" ></div>

<!-- CASE STUDIES - Section 7 -->
<div id="client-profiles" class="section-grad">
    <div class="row">
        <div class="client-profiles-heading-container">
            <h3 class="client-profile-tagline"></h3>
            <h2 class="client-profile-heading"></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="client-profile-container">
                <img class="client-profile-logo" src="" alt="">
                <p class="client-profile-summary"></p>
                <a href="" class="client-profile-link"></a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="client-profile-container">
                <img class="client-profile-logo" src="" alt="">
                <p class="client-profile-summary"></p>
                <a href="" class="client-profile-link"></a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="client-profile-container">
                <img class="client-profile-logo" src="" alt="">
                <p class="client-profile-summary"></p>
                <a href="" class="client-profile-link"></a>
            </div>
        </div>
    </div>

</div>

{% include "_fulcrum-premium-finance/_includes/_contact-form" %}
{% include "_fulcrum-premium-finance/_includes/_footer" %}
{% endblock %}
    






