
/* 
   ______     _                             _____                    _                   ______ _                             
  |  ____|   | |                           |  __ \                  (_)                 |  ____(_)                            
  | |__ _   _| | ___ _ __ _   _ _ __ ___   | |__) | __ ___ _ __ ___  _ _   _ _ __ ___   | |__   _ _ __   __ _ _ __   ___ ___  
  |  __| | | | |/ __| '__| | | | '_ ` _ \  |  ___/ '__/ _ \ '_ ` _ \| | | | | '_ ` _ \  |  __| | | '_ \ / _` | '_ \ / __/ _ \ 
  | |  | |_| | | (__| |  | |_| | | | | | | | |   | | |  __/ | | | | | | |_| | | | | | | | |    | | | | | (_| | | | | (_|  __/ 
  |_|   \__,_|_|\___|_|   \__,_|_| |_| |_| |_|   |_|  \___|_| |_| |_|_|\__,_|_| |_| |_| |_|    |_|_| |_|\__,_|_| |_|\___\___| 
                                                   
*/
                                                                                                                              
 
 /* MAIN FULCRUM FONTS [ START ]
   ========================================================================== */

@font-face {
    font-family: 'museo100';
    src: url(museo100-regular-webfont.woff2) format('woff2'),
         url(museo100-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo300';
    src: url(museo300-regular-webfont.woff2) format('woff2'),
         url(museo300-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo500';
    src: url(museo500-regular-webfont.woff2) format('woff2'),
         url(museo500-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url(museo700-regular-webfont.woff2) format('woff2'),
         url(museo700-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo900';
    src: url(museo900-regular-webfont.woff2) format('woff2'),
         url(museo900-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

/* MAIN FULCRUM FONTS [ END ]
========================================================================== */





/*==============================================================================================
  _____              _     _                           ___        _                _     ___ 
 |  __ \            | |   | |                         |  _|      | |              | |   |_  |
 | |  | |  ___  ___ | | __| |_  ___   _ __    ______  | |    ___ | |_  __ _  _ __ | |_    | |
 | |  | | / _ \/ __|| |/ /| __|/ _ \ | '_ \  |______| | |   / __|| __|/ _` || '__|| __|   | |
 | |__| ||  __/\__ \|   < | |_| (_) || |_) |          | |   \__ \| |_| (_| || |   | |_    | |
 |_____/  \___||___/|_|\_\ \__|\___/ | .__/           | |_  |___/ \__|\__,_||_|    \__|  _| |
                                     | |              |___|                             |___|
                                     |_|                                                                         
================================================================================================*/    



@media (max-width: 1920px) {
/* BODY DEFAULT STYLING [ START ]
========================================================================== */

h1 {font-family: museo, Roboto, Arial, sans-serif; font-size: 5.333em; color: #007E8C; font-weight: 700; font-style: bold;}
h2 {font-family: museo, Roboto, Arial, sans-serif; font-size: 4.583em; color: #007E8C; font-weight: 700; font-style: none;}
h3 {font-family: museo, Roboto, Arial, sans-serif; font-size: 3em; color: #093C3D; font-weight: 700; font-style: none;}
h4 {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #007E8C; font-weight: 900; font-style: none;}
h5 {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #093C3D; font-weight: 900; font-style: none;}
p {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #3E4545; font-weight: 100;  font-style: none;}

/* BODY DEFAULT STYLING [ END ]
========================================================================== */



  
/* BASIC CONTENT STYLING [ START ]
========================================================================== */

.section {padding: 100px 0px; margin: auto;}
.section-white {background-color: #fff; padding: 100px 0px; width: 100%; margin: auto;}
.section-grey {background-color: #F4F4F4; padding: 100px 0px; width: 100%; margin: auto;}
.section-grad {background: linear-gradient(269.8deg, #007E8C 0.17%, #0C3A39 99.83%), #007E8C; padding: 100px 0px; width: 100%; margin: auto;}
.section-contact-form {background: linear-gradient(0deg, rgba(0, 126, 140, 0.47), rgba(0, 126, 140, 0.47)), url(Fulcrum_Nebula_Med); padding: 100px 0px; width: 100%; margin: auto;}
.row {margin: auto!important; width: 90%; max-width: 1200px;}
.row-wide {margin: auto!important; width: 90%; max-width: 1440px;}
.standard-btn {font-family: museo, roboto, Arial, sans-serif; font-weight: 700; font-size: 25px; line-height: 30px; text-align: center; letter-spacing: 0.00855263px; color: #007E8C; background-color: #DEDD00; width: 218px; height: 55px; padding: 15px 30px;}
.standard-btn:hover {color:  #DEDD00; background-color: #007E8C; font-style: none; transform: scale(1.2); box-shadow: 7px 7px 20px rgba(0, 0, 0, .50)}

/* BASIC CONTENT STYLING [ END ]
========================================================================== */




/* OBJECT & BUTTON ANIMATIONS [ START ]
========================================================================== */

/* Bob */
@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  .hvr-scale:hover{-ms-transform: scale(1.2)!important; /* IE 9 */ -webkit-transform: scale(1.2)!important; /* Safari 3-8 */ transform: scale(1.2)!important; }

/* OBJECT & BUTTON ANIMATIONS [ END ]
========================================================================== */



/* SIDENAV MENU [ START ]
========================================================================== */

.main-navbar {text-align: center; height: 80px; background: transparent; z-index: 9999; display: inline-block; position: absolute; width: 100%;}
.main-navbar:hover {background-color:rgba(0, 126, 140, 0.2); background-blend-mode: multiply ;}
.navbar-logo {padding-top: 18px; width: 150px; height: 80px;}
.menu-logo {width: 150px;}
.menu_sidenav {height: 100%; width: 0; position: fixed; z-index: 1; top: 0; right: 0; background-color: rgba(0, 121, 140, 0.90); overflow-x: hidden; transition: 0.5s; padding-top: 100px;}
.menu_sidenav a {padding: 8px 25px 8px 32px; text-decoration: none; font-size: 24px; color: #fff; display: block; transition: 0.3s; text-align: right; font-weight: 300; font-family: museo;}
.menu_sidenav a:hover {color: #DEDD00;}
.burgermenu {position: absolute; padding-top: 25px; right: 0;}
.menu_sidenav .closebtn {position: absolute; top: 0; right: 0; font-size: 34px; margin-left: 50px; color: #DEDD00; margin-bottom: 50px;}
  
@media screen and (max-height: 450px) {
    .menu_sidenav {padding-top: 15px;}
    .menu_sidenav a {font-size: 18px;}
  }

.menu-social-media-icons-container{position: absolute; bottom: 30px; height: 30px; display: flex; flex-wrap: wrap; text-align: center; justify-content: center;}
.menu-social-icon {transition: 0.3s; padding: 3px 3px 3px 3px; width: 30px;}

/* SIDENAV MENU [ END ]
========================================================================== */




/* CONTACT-FORM (FOOTER) START
========================================================================== */

.contact-us-footer {background-image: url(/web/assets/general/misc/Fulcrum_Nebula_background.png); background-blend-mode: multiply; background-color: rgba(0, 121, 140, 0.47); background-position: center; background-size: cover;}
.contact-us-footer-container {background-color: #ffffff; width: 360px; padding: 40px; text-align: center;}
.contact-us-footer-heading {font-size: 20px; font-weight: 700; line-height: 1.2em; color: #007E8C}
.contact-us-footer-input {height: 40px; text-align: center; border: none; background-color: #f2f2f2; color: #003744; width: 100%; margin-bottom: 10px; font-family: museo; font-weight: 700;font-size: 14px;}
.contact-us-footer-submit-btn {background-color: #007E8C; width: 100%; height: 40px; color: #fff; font-family: museo; font-weight: 700; font-size: 17px; border: none; margin: 10px 0px;}
.contact-us-footer-submit-btn {background-color: #007E8C; width: 100%; height: 40px; color: #fff;}
.contact-us-footer-submit-btn:hover {background-color: #DEDD00; width: 100%; height: 40px; color: #007E8C;}
.contact-us-footer-text {font-weight: 300; font-size: 16px; line-height: 1.3em; padding: 0px 20px; margin-top: 20px; color: #003744;}
.contact-us-footer-right-side-header {color: #fff; font-weight: 600; line-height: 1.1em; font-size: 49px; margin-bottom: 35px; letter-spacing: 1px;}
.contact-us-footer-right-side-text {color: #DEDD00; font-weight: 100; font-size: 18px; line-height: 1.2em; width: 80%;}

/* CONTACT-FORM (FOOTER) [ END ]
========================================================================== */




/* FOOTERS STYLING START
========================================================================== */

/*  FOOTER MAIN WEBSITE */
.footer-section {background: url(/web/assets/general/misc/Fulcrum-gradient_circles-footer_01.png), linear-gradient(269.8deg, #007E8C 0.17%, #0C3A39 99.83%), #007E8C;; background-repeat: no-repeat;  background-position: bottom left; background-size: auto; padding: 50px 0px;}
.fulcrum-footer-logo {width: 120px;}
.footer-menu-heading {font-weight: 300; font-size: 12px; color: #DEDD00; line-height: 1em; margin-top: 0px;}
.footer-menu-list {list-style-type: none; padding-left: 0px; line-height: 2.8em; color: #fff; font-size: 16px; font-weight: 100; font-family: museo;}
.footer-menu-item-link {color: #fff;}
.footer-menu-item-link:hover {color: #DEDD00; text-decoration-style: none; text-underline-position: none;}
.footer-subscribe-container {display: block}
.footer-subscribe-input {font-family: museo; font-size: 15px; padding-left: 10px; color: #fff; margin-left: -30px; width: 100%;}
.footer-subscribe-submit-btn {height: 50px; width: 50px; background-color: #DEDD00; color: #007E8C; border: none; font-size: 16px; border: 1px solid #DEDD00;}
.footer-subscribe-submit-btn:hover {color: #DEDD00; background-color: #003744;}
.footer-subscribe-container {display: flex; height: 40px; justify-content: center; align-items: center; margin-bottom: 30px;}
.right-footer-col-heading-container {margin-left: -30px; background-image: url(/web/assets/general/misc/Fulcrum-gradient_circles-02.png); background-position: center; background-repeat: no-repeat; background-size: contain; height: 196px;  width: 334px;  align-items: center; justify-content: center; display: block; box-sizing: border-box;}
.bottom-bar-text {font-size: 12px; font-weight: 100; color: #fff; text-align: left;}
#footer-instagram, #footer-facebook, #footer-twitter, #footer-youtube { margin-right: 35px;}

/*  FOOTER LANDING PAGE */
#landingpage-footer-section {padding-top: 80px; padding-bottom: 30px;}
.landingpage-footer-container {width: 100%; display: inline-box;}
.lp-footer-logo img{width: 170px; margin-bottom: 60px;}
.lp-footer-text {font-family: museo; font-size: 12px; color: white; display: block;}
.left-lp-footer-col {display: block; box-sizing: border-box; float: left;}
.right-lp-footer-col {background-image: url(/web/assets/general/misc/Fulcrum-gradient_circles-02.png); background-position: center; background-repeat: no-repeat; background-size: contain; height: 196px; width: 334px; align-items: center; justify-content: center; display: block; box-sizing: border-box; float: right; margin-top: -62px;}
.right-lp-footer-col-heading-container {width: 100%; margin-right: 0px;}
.footer-subscribe-input {width: 250px; height: 50px; border: 1px solid #DEDD00; background-color: transparent;}
.follow-us {font-family: museo; font-size: 12px;line-height: 1.2em; margin-bottom: 0px; color:  #DEDD00 ; width: 100%; padding-left: 35px; padding-top: 60px;}
.footer-social-media-icons-container {display: flex; flex-wrap: wrap; text-align: center; padding-left: 35px; padding-top: 10px;}
.footer-social-icon {width: 23px; box-sizing: border-box;}

/* FOOTER STYLING [ END ]
   ========================================================================== */




/* HOMEPAGE [ START ]
   ========================================================================== */

/* HOMEPAGE HEADER - SECTION 1 */
.homepage-header {background: linear-gradient(0deg, rgba(0, 0, 0, 0.1),  rgba(0, 0, 0, 0.1)), url(/web/assets/general/homepage/fulcrum-premium-finance-homepage-header-background.png); background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat; height: 768px; background-position: center center; display:flex; justify-content: center;}
.homepage-heading {font-weight: 700; font-size: 64px; line-height: 1em;}
.homepage-header-text {font-weight: 300; font-size: 19px; max-width: 520px; line-height: 1.2em; margin: 30px 0px 50px 0px;}
.watch-video-button {font-family: museo, roboto, Arial, sans-serif; font-weight: 100; font-size: 25px; line-height: 30px; text-align: center; letter-spacing: 0.00855263px; color: #dedd00; background-color: #007E8C; width: 218px; height: 55px; padding: 15px 30px; margin-right:0px;}
.watch-video-button:hover {color:  #007E8C ; background-color: #DEDD00; font-style: none;}


/* ABOUT US (HOME-PAGE) - SECTION 2 */
.about-us-fulcrum-logo {padding-left: 50px; position: absolute; z-index: 5;}
.about-us-graphic-container {margin: auto; text-align: center;}


/* WHY CHOOSE US - SECTION 3 */
.homepage-why-us {background-image: url(/web/assets/general/homepage/homepage-section-2-background_why-our-clients-choose-us.png); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.why-our-clients-tagline {font-weight: 900; font-size: 16px; color: #003744; margin-bottom: 40px;}
.why-our-clients-heading {font-weight: 700; font-size: 64px; line-height: 1em; color: #007E8C; margin: 40px 0px;}
.why-our-clients-text {color: #3E4545; font-weight: 100; font-size: 18px; line-height: 1.4em; width: 85%;}
.why-our-clients-reasons-container {display: inline-flex; margin: 45px 0px 60px 0px;}
.why-our-clients-reason {width: 31%; padding-right: 15px; margin-right: 3%; display: block;}
.why-our-clients-icon {text-align: center!important; padding-left: 20%;}
.why-our-clients-reason-text {font-size: 14px; font-weight: 700; line-height: 1.2em; color: #003744; margin: 15px 0px;}


/* BENEFITS - SECTION 4 */
.hompage-benefits-heading {font-weight: 700; font-size: 64px; text-align: center; margin-bottom: 100px;}
.homepage-benefit {width: 32.5%; padding: 0% 6%; text-align:center; float: left;}
.homepage-benefit-icon {text-align: center; margin-bottom: 15px;}
.homepage-benfits-header {font-weight: 700; font-size: 25px; color: #007E8C; text-align: center; line-height: 1.2em;}
.homepage-benefit-text {font-weight: 300; font-size: 16px; color: #003744; line-height: 1.2em; text-align: center;}


/* TESTIMONIAL SLIDER - SECTION 5 */
.item {float: left;}
.client-testimonial-heading {font-weight: 700; font-size: 40px; color: #DEDD00; margin-bottom: 30px;}
.testimonials-container {width: 48%; min-height: 235px; background-color: #fff; display: inline-flex;}
.testimonials-container-right {width: 48%; min-height: 235px; background-color: #fff; display: inline-flex; float: right;}
.testimonial-image {display: flex; justify-content: center; align-items: center; overflow: hidden; width:900px;}
.testimonial-image img{flex-shrink: 0; min-width: 100%; min-height: 100%;}
.testimonial-content {padding: 25px 30px; display: block; background-color: #fff;}
.client-name {font-size: 16px; font-weight: 300;}
.client-testimonial {font-size: 18px; font-weight: 700; line-height: 1.4em; color: #003744; margin: 20px 0px;}
.client-company {font-weight: 700; font-size: 16px;}
.carousel-control.left {background-image: none;}
.carousel-control.right {background-image: none;}
.carousel-indicators {position: relative; text-align: left; left: 30px; bottom: -30px;}
.carousel-indicators li {margin-left: 10px;}
.carousel-indicators li:active {margin-left: 10px;}


/* OUR PREMIUM FINANCING SOLUTION - SECTION 6 */
#our-premium-financing {background-image: url(/web/assets/general/homepage/fulcrum-premium-finance-our-solution-background-image.png); background-repeat: no-repeat; background-position-x: 50vw; background-size: contain;}
.our-premium-heading {font-weight: 700; line-height: 1em; font-size: 55px; margin-bottom: 40px; width: 80%;}
.our-premium-text {font-weight: 100; font-size: 18; line-height: 1.2em; margin-bottom: 80px; width: 80%;}


/*  BUBBLE GRAPHIC */
.bubble-graphic-homepage img{width: 52em; z-index: 9999999; margin-bottom: -23em; margin-top: -24em; margin-left: -28em;}



/* HOW TO DECIDE - SECTION 7 */
.how-to-decide-container {text-align: center; width: 75%; margin: 0px auto; margin-bottom: 50px;}
.how-to-decide-heading {font-weight: 700; font-size: 55px; margin-bottom: 40px; text-align: center; line-height: 1.2em;}
.how-to-decide-text {font-weight: 100; font-size: 20px; margin-bottom: 65px; line-height: 1.2em;}


/* HOMEPAGE [ END ]
   ========================================================================== */



/* ABOUT US [ START ]
   ========================================================================== */

/* ABOUT US HEADER SECTION 1 */
.about-us-header{background: linear-gradient(0deg, rgba(0, 0, 0, 0.65),  rgba(0, 0, 0, 0.65)), url(/web/assets/general/about-us/fulcrum-premium-finance-about-us-header-background.png); background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat; height: 768px; background-position: center center; display:flex; justify-content: center;}
.about-us-heading-text{ 
  color: #fff;
  font-size: 64px;
  width: 80%;
  margin-bottom: 100px;
  line-height: 1.2em;
}    
.core-values-contianer {
  text-align: center;

}
.core-values-tagline{
  font-size: 16px;
  text-align: center;
  margin: auto;
  line-height: 1.2em;
}

.core-values-heading {
  font-size: 61px;
  text-align: center;
  width:90%;
  padding: 50px 0px;
  margin: auto;
  line-height: 1.2em;
  
}
.core-values-text { 
  font-size: 24px;
  color: #3E4545;
  text-align: center;
  width: 70%;
  margin: auto;
  line-height: 1.2em;
  margin-bottom: 100px;
}


.core-value-container {
  background-color: #F4F4F4;
  padding: 35px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.core-value-tagline{
  font-size: 16px;
  text-align: center;
  margin: auto;
  line-height: 1.2em;
}

.core-value-heading {
  font-size: 36px;
  text-align: center;
  width:60%;
  padding: 25px 0px;
  margin: auto;
  line-height: 1.2em;
  
}
.core-value-text { 
  font-size: 18px;
  color: #3E4545;
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 1.2em;
}


/*  BUBBLE GRAPHIC */
.bubble-graphic-about-us img {width: 54em; margin-bottom: -23em; margin-top: -24em; margin-left: -28em;}

.get-started-container {
  margin: auto;
  margin-top: 20px;
  z-index: 999999;
  width: 100%;
  padding: 20px;
}

.about-us-video {
  width: 100%!important; 
}


/*  TEAM MEMBERS */
.meet-the-team-container {
  margin-bottom: 100px;
}

.meet-the-team-header {
  font-size: 55px;
  line-height: 1.2em;
  text-align: center;
}

.meet-the-team-text {
 font-size: 24px;
 line-height: 1.2em;
 text-align: center;
 width: 65%;
 margin: auto;
}

.meet-the-team-tagline {
  font-size: 25px;
  color: #DEDD00;
  text-align: center;
}

.mySlides {
    padding: 0px;
    height: 510px;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.meet-the-team-column {
  width: 16.6%;
  text-align: center;
  margin: auto;
}

.thumbnail-container{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 50px;
}
.profile-image-thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  box-shadow: 7px 7px 20px rgba(0.0.0.0,5);
}
.profile-name {
  font-size: 16px;
  margin-bottom: 1px;
  text-align:center;
}

.profile-position {
  font-size: 13px;
  text-align: center;
  font-weight: 300;

}

.we-are-here-header {
  padding: 50px!important;


}

.we-are-here-heading {
  font-size: 51px;
  text-align: center;
}

.we-are-here-text {
  font-size: 18px;
  text-align: center;
}

.we-are-heare-header-container {
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.we-are-here-map {
  display: block;
  height: 565px;
  width: 100%;
  overflow: hidden;
  background-color:#007E8C;
}

.google-map {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0px;
  height: 565px;
  margin-left: -15px;
}

.locations-wrapper {
  background-color:#007E8C;
}

.location {
  font-size: 16px;
  font-weight: 900;
  color: #DEDD00;
  margin-bottom: 0px;
}

.portfolio-manager {
  font-size: 15px;
  font-weight: 900;
  color: #fff;
}

.contact-details {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
}
 /* ABOUT US [ END ]
   ========================================================================== */






/* WHAT WE OFFER [ START ]
   ========================================================================== */

.what-we-offer-header{background: linear-gradient(0deg, rgba(0, 0, 0, 0.65),  rgba(0, 0, 0, 0.65)), url(/web/assets/general/what-we-offer/fulcrum-premium-finance-what-we-offer-header-background.png); background-blend-mode: multiply; background-size: cover; background-repeat: no-repeat; height: 768px; background-position: center center; display:flex; justify-content: center;}


.what-we-offer-heading {
  color: #fff;
  font-size: 64px;
  width: 80%;
  margin-bottom: 100px;
  line-height: 1.2em;
}



/* WHY USE US */
.why-use-us-reason-container {text-align: center; padding-left: 3%; padding-right: 3%;}
.why-use-us-reason-container:hover {-ms-transform: scale(1.2)!important; /* IE 9 */ -webkit-transform: scale(1.2)!important; /* Safari 3-8 */ transform: scale(1.2)!important; }
.why-use-us-reason-heading {text-align: center; font-size: 70px; font-weight:900!important; color:  #007E8C;  line-height: 0.8em;}
.why-use-us-reason-subheading {text-align: center; font-size: 50px; font-weight:300!important; color:  #DEDD00;  line-height: 1em}
.why-use-us-reason-text {text-align: center; font-size: 20px; font-weight:100!important; color: #3E4545;  line-height: 1em}
.why-use-us-btn-container{
  margin: auto;
  margin-top: 100px;
  display: block;
  width: 100%;
}
.why-use-us-btn {
  text-align: center;
}




/* ABOUT FULCRUM PREMIUM FINANCE */
#about-fulcrum {
  background-image: url(/web/assets/general/what-we-offer/fulcrum-whatweoffer-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  min-height: 850px;
  z-index: 50;
}

.about-fulcrum-heading-container {
  margin-bottom: 70px;
}

.about-fulcrum-facts-wrapper {
  width: 100%;
  display: flex;
  justify-content: top;
  margin-bottom: 70px;
  min-height: 150px;
}

.fact-container {
  width: 50%
}

.about-fulcrum-heading {
  font-size: 44px;
  line-height: 1.2em;
  width: 80%
}

.about-fulcrum-text {
  font-size: 18px;
  line-height: 1.4em;
  width: 80%;
}

.fact-heading {
  font-size: 22px;
  font-weight: 900;
  color: #007E8C;
}

#fact-one {
  width: 75%;
}

#fact-two {
  width: 90%;
}

.fact-content {
  font-size: 18px;
  line-height: 1.4em;
}

/* BUBBLE GRAPHIC */
.bubble-graphic-wwo-one img {width: 25em; margin-top: -10.5em; margin-right:0px; position:relative;}
.bubble-graphic-wwo-one {z-index: 5; position:sticky; margin-right: 0px;}
.bubble-graphic-wwo-two img {width: 25em; z-index: 5; margin-top: -100px; margin-left: -12em; position: absolute;}
.bubble-graphic-wwo-two {position:sticky; z-index: 5;}


.most-trusted-heading {
  font-size: 24px;
  line-height: 1.4em;
  width: 70%;
}

.most-trusted-text {
  font-size: 18px;
  line-height: 1.2em;
}

.most-trusted-container {
  display: flex;
  align-items: top;
}

.most-trusted-btn-container {
  float: right;
}



.what-is-process-container {
  text-align: center;
  margin: auto;
}
.what-is-process-heading {
  font-size: 55px;
  line-height: 1.2em;
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.what-is-process-content {
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}

#what-is-process-btn {
  text-align: center;
}

.client-profiles-heading-container {
  text-align: center;
  margin-bottom: 55px;
  margin: 0px auto 55px auto;
}

.client-profile-tagline {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.client-profile-heading {
  font-size: 49px;
  color: #DEDD00;
  text-align: center;
}

.client-profile-container { 
  background-color: #fff;
  min-width: 340px;
  min-height: 350px;
  padding: 30px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.65);
  text-align: center;
}

.client-profile-logo {
  width: 100%;
  margin-bottom: 15px;
}

.client-profile-summary {
  font-size: 16px;
  line-height: 1.4em;
  text-align: center;
}

.client-profile-link {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #003744;
  position: absolute;
  bottom: 30px;
  left: 38%;
 
}
/* WHAT WE OFFER [ END ]
   ========================================================================== */





/* BLOG PAGE [ START ]
   ========================================================================== */

   .blog-header {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.65),  rgba(0, 0, 0, 0.65)), url(/web/assets/general/blog-feed/fulcrum-premium-finance-blog-header-background.png);
      position: cover;
      background-repeat: no-repeat;
      min-height: 775px;
   }

.blog-header-title {
  font-size: 72px;
  color: #fff;
  width: 55%;
  margin-bottom: 50px;
}

.blog-intro-contianer { 
  text-align: center;
  margin: auto;
}

.blog-intro-heading {
  font-size: 51px;
  line-height: 1.2em;
  width: 65%;
  color:#007E8C;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.blog-intro-insight-text {
  font-size: 18px;
  width: 65%;
  margin: auto;
  text-align: center;
}

.blog-blocks {
  background-color: rgba(0, 121, 140, 0.47)
}

.blog-post-container {
  background-color: #fff;
  width: 330px;
  height: 485px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 80px;
}

.blog-post-content-container {
  padding: 20px;
  padding: top
}

.blog-entry-container {
  width: 330px;
  height: 250px;
  position: relative;
}

.blog-featured-image {
  width: 100%;
  height: 100%;
}
.blog-entry-link {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 5;
  text-align: center;
}

.blog-entry-link:hover {
  background-color: rgba(0, 121, 140, 0.50)
}

.blog-featured-image img {
  width: 100%;
  height: 100%;
}

.plog-post-title {
  margin-top: 0px;
  font-size: 27px;
  line-height: 1.2em;
  font-weight: 700;
}

.plog-post-content {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 300;
}

.plog-most-meta {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 900;
}

/* BLOG PAGE [ END ]
   ========================================================================== */





/* BLOG PAGE [ START ]
   ========================================================================== */

.contact-us-main-header {
  background-image: linear-gradient(90deg,  rgba(0, 0, 0, .50) 60%, #fff 40%), url(/web/assets/general/misc/Fulcrum_Nebula_background+greenoverlay.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.contact-us-tagline {
  font-size: 20px;
  color: #DEDD00;
  line-height: 1.2em;
  text-align: left;
  font-weight: 700;
}

.contact-us-heading-text {
  font-size: 64px;
  color: #fff;
  line-height: 1.2em;
  text-align: left;
  width: 60%;
}

.contact-us-subheading-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4em;
  text-align: left;
  color: #DEDD00;
  width: 60%;
}

.contact-us-left {
padding-top: 150px;
}


.contact-us-heading {
  font-size: 36px;
  line-height: 1.2em;
}
.contact-us-text {
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 30px;
}

.contact-us-form-container {
  height: 870px;
  align-items: center;
  padding-top: 150px;
}

.contact-us-form-label {
  color: #007E8C;
  font-size: 17px;
  line-height: 1.4em;
  margin-bottom: 5px;
}

.contact-us-form-input {
  background-color: #CAD5D8;
  height: 40px;
  width: 100%;
  margin-bottom: 15px;
  border: none;
  padding-left: 20px;
}

.contact-us-form-privacy-policy-accept {
  font-size: 16px;
  font-weight: 300;
  color: #007E8C;
  margin-bottom: 30px;
}

.privacy-link {
  font-weight: 700;
  color: #007E8C!important;
}

.privacy-link:hover {
  font-weight: 700;
  color: #DEDD00;
}

.contact-us-form-submit-btn {
  width: 100%;
  background-color: #DEDD00;
  color: #007E8C;
  font-size: 26px;
  border: none;
  height: 45px;
  font-weight: 700;
}

.contact-us-form-submit-btn:hover {
  background-color: #007E8C;
  color: #DEDD00;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.5);
}


/* BLOG PAGE [ END ]
   ========================================================================== */






/* LANDING PAGE CONTACT FORM NAV [ START ]
   ========================================================================== */

.sidenav {height: 100%; width: 0; position: fixed; z-index: 9999999999; top: 0; right: 0; background-color: rgba(0, 121, 140, 0.95); overflow-x: hidden; transition: 0.5s; padding-top: 60px;}
.sidenav a {padding: 8px 8px 8px 32px; text-decoration: none; font-size: 25px; color: #D8DE00; display: block; transition: 0.3s;}
.sidenav a:hover {color: #f1f1f1;}
.sidenav .closebtn {position: absolute; top: 0; right: 25px; font-size: 36px; margin-left: 50px;}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* LANDING PAGE CONTACT FORM */
.lp-contact-form-input {width: 100%; border: none; background-color: #f4f4f4; height: 40px; color: #007E8C; padding-left: 15px;}
.lp-contact-form-label {font-size: 17px; color:#DEDD00; font-weight: 700; margin-top: 15px; font-family: 'museo700'; font-family: museo; font-style: none; margin-bottom: 0px;}
.lp-getintouch-form-container {padding-left: 50px; padding-top: 50px; padding-right: 50px;}
.lp-getintouch-heading {font-size: 36px; color:#DEDD00; font-weight: 700;}
.lp-getintouch-text {font-size: 15px; font-weight: 100; color: #fff; line-height: 1.2em;}

/* PRIVACY POLICY ACCEPT - CONTAINER */
.lp-contact-form-privacy-policy-accept-container {font-size: 16px; font-family: museo; font-weight: 100; line-height: 1.2em; display: block;  position: relative; padding-left: 35px;  margin-bottom: 12px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #fff;}
  
/* PRIVACY POLICY ACCEPT DEFAULT CHECKBOX - HIDE */
.lp-contact-form-privacy-policy-accept-container input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;}
  
/* PRIVACY POLICY ACCEPT CUSTOM CHECKBOX */
.checkmark {position: absolute; height: 25px; width: 25px; background-color: #eee;}
  
/* PRIVACY POLICY ACCEPT - CHECKBOX MOUSE-OVER */
.lp-contact-form-privacy-policy-accept-container:hover input ~ .checkmark {background-color: #ccc;}
  
/* PRIVACY POLICY ACCEPT - CHECKBOX CHECKED BACKGROUND */
.lp-contact-form-privacy-policy-accept-container input:checked ~ .checkmark {background-color: #003744!important;}
  
/* PRIVACY POLICY ACCEPT - CHECKMARK/INDICATOR (hidden when not checked) */
.checkmark:after {content: ""; position: absolute; display: none!important;}
  
/* PRIVACY POLICY ACCEPT - SHOWS CHECKMARK WHEN CHECKED */
.lp-contact-form-privacy-policy-accept-container input:checked ~ .checkmark:after {display: block;}
  
/* PRIVACY POLICY ACCEPT - CHECKMARK/INDICATOR */
.lp-contact-form-privacy-policy-accept-container .checkmark:after {left: 8px; top: 3px; width: 10px; height: 15px; border: solid #DEDD00; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);} 
.lp-contact-form-privacy-policy-accept-container {font-family: museo; font-weight: 300; font-size: 16px;}
.privacy-link {color: #DEDD00; font-family: museo; font-weight: 700; font-size: 18px!important;}
.lp-contact-form-submit-btn {border: none!important; width: 100%; background-color:  #DEDD00; font-family: museo; font-weight: 700; font-style: none; text-align: center; font-size: 26px; color: #007E8C; margin-top: 18px;}
.lp-contact-form-submit-btn:hover {background-color: #fff; color: #007E8C}

/* LANDING PAGE CONTACT FORM NAV [ END ]
   ========================================================================== */




/* LANDING PAGES
   ========================================================================== */
   
/* VIDEO BACKGROUND */
#myVideo { object-fit: cover; position: fixed; Left:0; right: 0; bottom: 0; width: 100vw; height: 100vh; top:0; background-color: rgba(0, 121, 140, 1);}
.broker_bg-video { background-image: url(/web/assets/landingpages/broker/Fulcrum-Premium-Finance_Landing-page_header-video_BROKER0.jpg); background-size: cover; background-repeat: no-repeat; z-index: -999; opacity: 0.8; mix-blend-mode: multiply;}
.insured_bg-video { background-image: url(/web/assets/landingpages/insured/Fulcrum-Premium-Finance_Landing-page_header-video_INSURED0.jpg); background-size: cover; background-repeat: no-repeat; z-index: -999; opacity: 0.8; mix-blend-mode: multiply;}


/* FULCRUM HEADER LOGO */
.lp-header-logo { position: absolute; left: 50px; top: 50px; display: block; width:70%; z-index: 999;}
.lp-header-menu-logo img{width: 20%;}


/* SECTION 1 - HEADER */
#lp_header-section {background-repeat: none; background-color: rgba(0, 126, 140, 0.2); background-blend-mode: multiply; height: 100vh; overflow: hidden; align-items: center; justify-content: center; display: flex; }
.lp-header-container{height: 100vh; display: flex; overflow: hidden; align-items: center; justify-content: center;}
.lp-header-text {text-align: center;}
.heading-text {font-family: museo, 'Roboto', Arial, sans-serif; font-weight: 700; font-size: 4.2em; color: #fff; padding-right: 10%; padding-left: 10%; line-height: 1.1em; text-align: center; margin-top: 10%;}
.tagline {font-size: 24px; line-height: 1.2em; ;font-weight: 300; margin-bottom: 20px; text-align: center; color: #fff; max-width: 800px; margin: 30px auto 50px auto; }
.header-btn {text-align: center;}
.lp-header-circle-container {height: 370px; z-index: 650;}
.lp-header-circle-container img{ height: 350px; z-index: 650; margin-left: -100px; }


/* SECTION 2 - ABOUT US */
.bubble-animation-container { width:80%; width:900px; height: 500px; display: flex; justify-content: center; align-items: center; margin: auto; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform: perspective(300px); transform: perspective(300px); background-color: transparent;}
.bubble-animation-container:hover .about-us-heading .centre-circle .left-small .right-small .left-large .right-large { transform: translateZ(50px) scaleY(1); }
.about-us-heading {position:absolute; color:#fff; z-index:50; width:380px; text-align:center; font-family:museo; font-weight:400; font-size:32px; line-height:1.3em; animation-name:text; animation-duration:4s; transform-style:preserve-3d; text-shadow: 0 3px 23px rgba(0, 0, 0, 0.5); z-index:50; }
.centre-circle { width: 500px; height: 500px; background-color: tranparent; position: absolute;  z-index: 10; transform-style: preserve-3d; border-radius: 50%; box-shadow: 0 3px 23px rgba(0, 0, 0, 0.5); animation-name: cicrle; animation-duration: 3s;}
.left-small {width: 180px; height: 180px; background-color: tranparent; position: relative; animation-name: left-small; animation-duration: 3s; opacity: 0.96; top: 20%; transform: translate(-160%, -50%); transform-style: preserve-3d; border-radius: 50%; }
.right-small { width:180px; height:180px; background-color: tranparent; position: relative; animation-name: right-small; animation-duration: 3s; top: 20%; transform: translate(160%, -50%); opacity: 0.96; z-index: 5; transform-style: preserve-3d; border-radius: 50%; }
.left-large { width:287px; height:287px; background-color: tranparent; position: relative; animation-name: left-large; animation-duration: 3s; top: 30%; transform: translate(25%, -50%); transform-style: preserve-3d; }
.right-large { width: 287px; height: 287px; background-color:tranparent; position:relative; animation-name: right-large; animation-duration: 3s; top: 30%; transform: translate(-25%, -50%); transform-style: preserve-3d; }


@keyframes text{
  0%   {transform:scale(0.0)}
  100% {transform:scale(1)}
}

@keyframes circle {
  0%   {transform:scale(0.0)}
  100% {transform:scale(1)}
}

@keyframes left-small {
  0%   {opacity:0.0; transform: translate(-0%, -50%);}
  100% {opacity:0.96; transform: translate(-160%, -50%);}
}

@keyframes right-small {
  0%   {opacity:0.0; transform: translate(-0%, -50%);}
  100% {opacity:0.96; transform: translate(160%, -50%);}
}

@keyframes left-large {
  0%  {opacity:0.0; transform: translate(100%, -50%);}
  100% {opacity:0.96; transform: translate(25%, -50%);}
}

@keyframes right-large {
  0%   {opacity:0.0; transform: translate(-100%, -50%);}
  100% {opacity:0.96; transform: translate(-25%, -50%);}
}





/* SECTION 2 - BENEFITS */
#lp-section-two-second-container {background-color: #fff; background-image: url(/web/assets/landingpages/insured/lp-section-2-background-insured.png); background-size: 90%; background-repeat: no-repeat; background-position: bottom right; overflow: hidden; background-color: #fff;}
#lp_broker-section-two {background-image: url(/web/assets/landingpages/broker/lp-section-2-background-broker.png); background-size: cover; background-repeat: no-repeat; min-height: 870px; background-position: center center; background-color: #f4f4f4;}
.benefit-container:hover {  -ms-transform: scale(1.2)!important; /* IE 9 */ -webkit-transform: scale(1.2)!important; /* Safari 3-8 */ transform: scale(1.2)!important; }
.benefits-header {text-align: center; font-size: 64px; padding: 50px; font-weight: 700!important;}
.broker-benefits-header {font-family: museo; text-align: left; font-size: 64px; font-weight: 700!important; padding-left: 50px;}
.broker-benefit-heading {font-family: museo; text-align: center; font-size: 30px; font-weight: 700!important; color:  #007E8C;}
.broker-benefit-text {font-family: museo; text-align: center; font-size: 16px; font-weight: 300!important; color: #003744; line-height: 1.2em;}
.benefits-container {display: flex; flex-wrap: wrap; }
.benefit-container {width: 45%; margin: 2.5%; box-sizing: border-box; padding: 20px; display: block; text-align: center; transition: transform.2s;}
.benefit-icon {width: 136px; padding-bottom: 15px; text-align: center;}
.benefit-text {font-size: 18px; text-align: center; font-family: museo; font-weight: 500; line-height: 1.2em;}
.benefits-btn {margin-left: 50px;}


/* SECTION 3 - TESTIMONIAL */
.testimonial {margin-bottom: 55px;}
.open-quote {width: 50px; left: 0; margin: 2%; margin-bottom: 3%;}
.close-quote {width: 50px; float: right; margin-right: 16%; margin-top: -2%;}
.testimonial-quote {color: #ffffff; line-height: 1.2em; text-align: left; font-size: 48px; line-height: 55px; padding-left: 5%; padding-right: 15%; margin-bottom: 5%; font-weight: 700!important;}
.testimonial-name {font-family: museo; font-size: 20px; color: #D8DE00; margin-bottom: 5px; padding-left: 5%;}
.testimonial-job-description {font-size: 18px; color: #fff; font-family: museo; padding-left: 5%;}


/* SECTION 4 - WHY USE US */
#lp_section-four {background-color: #fff;}
.why-use-us {margin-bottom: 50px;}
.Why-use-us-heading {text-align: center; font-size: 64px; padding-bottom: 25px;  font-weight: 700!important;}
.Why-use-us-text {text-align: center; font-size: 18px; font-family: museo; padding-left: 15%; padding-right: 15%; font-weight: 300!important;}
.reason-container {text-align: center; background-image: url(/web/assets/landingpages/insured/lp-options-section-box.svg); background-repeat: no-repeat; background-position: center; background-size: auto; height: 305px; padding-left: 3%; padding-right: 3%;}
.reason-container:hover { -ms-transform: scale(1.2)!important; /* IE 9 */ -webkit-transform: scale(1.2)!important; /* Safari 3-8 */ transform: scale(1.2)!important; }
.reason-subheading {padding-top: 40px; text-align: center; font-size: 18px; font-family: museo; color: #0C3A39;}
.reason-heading {text-align: center; font-size: 50px; font-weight:700!important;}
.reason-hr {border: 2px solid #DEDD00; width: 60px; margin-top: 20px; margin-bottom: 25px;}
.reason-text {font-size: 18px; font-family: museo; line-height: 1.3em; font-weight: 100!important;}


/* WHY USE US BROKER */
.broker-reason-container {text-align: center; padding-left: 3%; padding-right: 3%;}
.broker-reason-container:hover {-ms-transform: scale(1.2)!important; /* IE 9 */ -webkit-transform: scale(1.2)!important; /* Safari 3-8 */ transform: scale(1.2)!important; }
.broker-reason-heading {text-align: center; font-size: 70px; font-weight:900!important; color:  #007E8C;  line-height: 0.8em;}
.broker-reason-subheading {text-align: center; font-size: 50px; font-weight:300!important; color:  #DEDD00;  line-height: 1em}
.broker-reason-text {text-align: center; font-size: 20px; font-weight:100!important; color: #3E4545;  line-height: 1em}


/* BUBBLE GRAPHIC */
.bubble-graphic img {width: 25em; z-index: 9999999; margin-top: -100px; margin-left: -12em; position: absolute;}
.bubble-graphic {position:sticky; z-index: 9999999;}


/* SECTION 5 - HOWE WE ADD IT ALL UP */
#lp_section-six {z-index: -3;}
.how-we-add-it-up_container {background-image: url(/web/assets/landingpages/fulcrum-premium-finance_how-we-add-it-all-up_BACKGROUND.jpg); background-size:cover; background-position:center; height:850px; }
.how-add-it-up-text-container {margin: auto;}
.how-add-it-up-heading {padding-top:80px; padding-bottom: 45px; text-align:center!important;}

.how-we-add-it-up_cal_container {
  width:615px;
  height: 454px;
position: relative;
left: -1.2%;
display: block;
padding: 15px 20px;
border-collapse:collapse;
margin: auto;
margin-bottom: 30px;
}

.how-we-add-it-header {font-size:28px; font-family:museo; color:#007E8C; Font-weight:900; }
.how-we-add-it-text {font-size:16px; font-family:museo; color:#007E8C; Font-weight:500; }
.left-colm {width:75%!important; text-align:left; border-collapse:collapse; }
.right-colm {text-align:right; border-collapse:collapse; }
.how-we-add-it-heading-row { height: 30px; }
.how-we-add-it-row {height:35px; }
.divider-line {padding-bottom:5px; border-bottom: 5px solid #DEDD00; }
.table-spacing {padding-top:5px; }
.nacm-text {color: #fff; font-size: 12px; font-weight:500; padding-top:25px; text-align: right}


/* SECTION 6 - FINAL PITCH */
.final-heading {text-align: center; font-size: 45px; padding: 0px 5% 25px 5%; font-weight: 700!important;}
.final-text {text-align: center; font-size: 18px; font-family: museo; padding: 0 5%; margin-bottom: 5%; font-weight: 300;}
.final-pitch-container {text-align: center; margin: auto;}





}


/*==============================================================================================
  _____              _     _                           ___        _                _     ___ 
 |  __ \            | |   | |                         |  _|      | |              | |   |_  |
 | |  | |  ___  ___ | | __| |_  ___   _ __    ______  | |    ___ | |_  __ _  _ __ | |_    | |
 | |  | | / _ \/ __|| |/ /| __|/ _ \ | '_ \  |______| | |   / __|| __|/ _` || '__|| __|   | |
 | |__| ||  __/\__ \|   < | |_| (_) || |_) |          | |   \__ \| |_| (_| || |   | |_    | |
 |_____/  \___||___/|_|\_\ \__|\___/ | .__/           | |_  |___/ \__|\__,_||_|    \__|  _| |
                                     | |              |___|                             |___|
                                     |_|                                                                         
================================================================================================*/                                 
                                                      


@media (max-width: 19200px) {
  /* BODY DEFAULT STYLING [ START ]
  ========================================================================== */
  
  h1 {font-family: museo, Roboto, Arial, sans-serif; font-size: 5.333em; color: #007E8C; font-weight: 700; font-style: bold;}
  h2 {font-family: museo, Roboto, Arial, sans-serif; font-size: 4.583em; color: #007E8C; font-weight: 700; font-style: none;}
  h3 {font-family: museo, Roboto, Arial, sans-serif; font-size: 3em; color: #093C3D; font-weight: 700; font-style: none;}
  h4 {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #007E8C; font-weight: 900; font-style: none;}
  h5 {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #093C3D; font-weight: 900; font-style: none;}
  p {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #3E4545; font-weight: 100;  font-style: none;}
  
  /* BODY DEFAULT STYLING [ END ]
  ========================================================================== */
  
  
  
    
  /* BASIC CONTENT STYLING [ START ]
  ========================================================================== */
  
  .section {padding: 100px 0px; margin: auto;}
  .section-white {background-color: #fff; padding: 100px 0px; width: 100%; margin: auto;}
  .section-grey {background-color: #F4F4F4; padding: 100px 0px; width: 100%; margin: auto;}
  .section-grad {background: linear-gradient(269.8deg, #007E8C 0.17%, #0C3A39 99.83%), #007E8C; padding: 100px 0px; width: 100%; margin: auto;}
  .section-contact-form {background: linear-gradient(0deg, rgba(0, 126, 140, 0.47), rgba(0, 126, 140, 0.47)), url(Fulcrum_Nebula_Med); padding: 100px 0px; width: 100%; margin: auto;}
  .row {margin: auto!important; width: 90%; max-width: 1200px;}
  .row-wide {margin: auto!important; width: 90%; max-width: 1440px;}
  .standard-btn {font-family: museo, roboto, Arial, sans-serif; font-weight: 700; font-size: 25px; line-height: 30px; text-align: center; letter-spacing: 0.00855263px; color: #007E8C; background-color: #DEDD00; width: 218px; height: 55px; padding: 15px 30px;}
  .standard-btn:hover {color:  #DEDD00; background-color: #007E8C; font-style: none; transform: scale(1.2); box-shadow: 7px 7px 20px rgba(0, 0, 0, .50)}
  
  /* BASIC CONTENT STYLING [ END ]
  ========================================================================== */
  
  }
















  


/*=====================================================================================
  _______      _      _        _              ___        _                _     ___ 
 |__   __|    | |    | |      | |            |  _|      | |              | |   |_  |
    | |  __ _ | |__  | |  ___ | |_   ______  | |    ___ | |_  __ _  _ __ | |_    | |
    | | / _` || '_ \ | | / _ \| __| |______| | |   / __|| __|/ _` || '__|| __|   | |
    | || (_| || |_) || ||  __/| |_           | |   \__ \| |_| (_| || |   | |_    | |
    |_| \__,_||_.__/ |_| \___| \__|          | |_  |___/ \__|\__,_||_|    \__|  _| |
                                             |___|                             |___|
                                                                                    
======================================================================================*/                                 
                                   
                                   


@media (max-width: 480px) {
/* BODY DEFAULT STYLING [ START ]
========================================================================== */

h1 {font-family: museo, Roboto, Arial, sans-serif; font-size: 5.333em; color: #007E8C; font-weight: 700; font-style: bold;}
h2 {font-family: museo, Roboto, Arial, sans-serif; font-size: 4.583em; color: #007E8C; font-weight: 700; font-style: none;}
h3 {font-family: museo, Roboto, Arial, sans-serif; font-size: 3em; color: #093C3D; font-weight: 700; font-style: none;}
h4 {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #007E8C; font-weight: 900; font-style: none;}
h5 {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #093C3D; font-weight: 900; font-style: none;}
p {font-family: museo, Roboto, Arial, sans-serif; font-size: 1.667em; color: #3E4545; font-weight: 100;  font-style: none;}

/* BODY DEFAULT STYLING [ END ]
========================================================================== */



  
/* BASIC CONTENT STYLING [ START ]
========================================================================== */

.section {padding: 100px 0px; margin: auto;}
.section-white {background-color: #fff; padding: 100px 0px; width: 100%; margin: auto;}
.section-grey {background-color: #F4F4F4; padding: 100px 0px; width: 100%; margin: auto;}
.section-grad {background: linear-gradient(269.8deg, #007E8C 0.17%, #0C3A39 99.83%), #007E8C; padding: 100px 0px; width: 100%; margin: auto;}
.section-contact-form {background: linear-gradient(0deg, rgba(0, 126, 140, 0.47), rgba(0, 126, 140, 0.47)), url(Fulcrum_Nebula_Med); padding: 100px 0px; width: 100%; margin: auto;}
.row {margin: auto!important; width: 90%; max-width: 1200px;}
.row-wide {margin: auto!important; width: 90%; max-width: 1440px;}
.standard-btn {font-family: museo, roboto, Arial, sans-serif; font-weight: 700; font-size: 25px; line-height: 30px; text-align: center; letter-spacing: 0.00855263px; color: #007E8C; background-color: #DEDD00; width: 218px; height: 55px; padding: 15px 30px;}
.standard-btn:hover {color:  #DEDD00; background-color: #007E8C; font-style: none; transform: scale(1.2); box-shadow: 7px 7px 20px rgba(0, 0, 0, .50)}

/* BASIC CONTENT STYLING [ END ]
========================================================================== */

}



  




/*=====================================================================================
__  __         _      _  _                  ___        _                _     ___ 
|  \/  |       | |    (_)| |                |  _|      | |              | |   |_  |
| \  / |  ___  | |__   _ | |  ___   ______  | |    ___ | |_  __ _  _ __ | |_    | |
| |\/| | / _ \ | '_ \ | || | / _ \ |______| | |   / __|| __|/ _` || '__|| __|   | |
| |  | || (_) || |_) || || ||  __/          | |   \__ \| |_| (_| || |   | |_    | |
|_|  |_| \___/ |_.__/ |_||_| \___|          | |_  |___/ \__|\__,_||_|    \__|  _| |
                                            |___|                             |___|
                                                                                    
======================================================================================*/ 








.team-member-profile-image {
  width: 50%;
  overflow: hidden;
  float: left;
}

.team-member-profile {
  background: linear-gradient(269.8deg, #007E8C 0.17%, #0C3A39 99.83%), #007E8C;
  padding: 35px 40px 35px 40px;
  display: block;
  height: 500px;
}

.team-member-profile-image img {
  object-fit: cover;
}

.team-member-quote {
  font-size: 38px;
  color: #fff;
  margin-bottom: 50px;
  text-align: left;
}

.team-member-name {
  font-size: 24px;
  color: #DEDD00;
  margin-bottom: 5px;
  text-align: left;
}

.team-member-position {
  font-size: 14px;
  line-height:1.2em;
  color: #fff;
  text-align: left;
}

.team-member-profile img {
  width:  100px;
}

.fulcrum-team-logo {
  width: 150px!important;
  position: absolute;
  bottom: 40px;
}         



.profile-container {
  width: 100%;
  height: 510px;
  display: flex;
}

.profile-image {
  width: 50%;
  height: 100%!important;
  display: block;
}

.profile-image img{
  height: 100%!important;
}


.profile-info {
  width: 50%;
  display: block;
  background: linear-gradient(269.8deg, #007E8C 0.17%, #0C3A39 99.83%), #007E8C;
  padding: 50px 50px 50px 50px;
}