{% extends "_layout"%}
{% block content %}

<!-- CLIENT PROFILE HEADER - SECTION 1 -->
<div class="client-profile-header section">
    <div class="row">

        <!-- BLOG HEADING -->
        <div class="client-profile-header-container">
            <h3 class="client-profile-tagline"></h3>
            <h1 class="client-profile-heading">The latest Premium Finance news content</h1>
            <p class="client-profile-text"></p>
        </div>

    </div>
</div>

<!-- CLIENT PROFILE CONTENT - SECTION 2 -->
<div ID="client-profile-section" class="section">
    <div class="row">

        <!-- LEFT COLUMN -->
        <div class="col-md-8">
            <div class="client-profile-container">
                <h2 class="client-profile-intro"></h2>
                <p class="client-profile-content"></p> 
            </div>
        </div>

        <!-- RIGHT COLUMN -->
        <div class="col-md-4">
            <div class="client-profile-logo">
                <a class="client-profile-website-link" href="" target="_blank"><img class="client-logo" src="" alt=""></a>
            </div>
        </div>
        
    </div>
</div>

<!-- TESTIMONIAL - Section 3-->
<div id="about-us-testimonial" class="section-grad">
    <div class="row">

        <!--Testimonial-->
        <div class="testimonial">
            <div class="testimonial-container">
                <img class="open-quote" src="/web/assets/landingpages/open-quote-mark.svg" alt="open-quote">
                <h2 class="testimonial-quote">Fulcrum provides seamless, <br>rapid Premium Finance solutions while taking care of collections.</h2>
                <img class="close-quote" src="/web/assets/landingpages/closing-quote-mark.svg" alt="close-quote"> 
                <h5 class="testimonial-name">Delarey van Dyk</h5>
                <p class="testimonial-job-description">Managing Director at Fulcrum Premium Finance</p>    
            </div>
        </div>
    
    </div>
</div>


{% include "_fulcrum-premium-finance/_includes/_contact-form" %}
{% include "_fulcrum-premium-finance/_includes/_footer" %}
{% endblock %}
    






