{% extends "_landing-page-layout" %}
{% block content %}

<!-- Landing page section one HEADER -->
    <div id="lp_header-section" class="main-header animate__animated animate__fadeInRight">
        <div class="">
           <div class="row">
                <!-- Left Column  -->
               <div class="lp-header-left col-md-8 animate__animated animate__slideInUp animate__delay-1s">
                   
                    <!-- top nav  -->
                    <div style="padding-bottom: 70px" class="lp-top-nav">
                        <div class="lp-menu-logo animate__animated animate__zoomIn animate__delay-2s">
                       <a href="" ><img width="300px" src="/web/assets/landingpages/Fulcrum_Premium_Finance-lp-header-logo.svg"/></a> 
                        </div>
                    </div>
    
                    <!-- Main header text  -->
                    <div class="lp-header-text">
                        <h5 class="tagline animate__animated animate__zoomIn animate__delay-3s">South Africa’s trusted provider of insurance Premium Financing</h5>
                        <h1 class="heading-text animate__animated animate__zoomIn animate__delay-4s">The seamless solution for businesses with annual insurance to preserve cash flow.<h1>
                    </div>


                    <!-- Fulcrum Offering - circles  -->
                    <div class="lp-header-circle-container animate__animated animate__zoomIn animate__delay-5s">
                            <img src="/web/assets/landingpages/fulcrum-lp-header-bubble-temp-image.png">
                    </div>

                </div>

                <!-- Right Column  -->
                <div class="lp-header-right col-md-4">

                    <!-- Fulcrum GET IN TOUCH form  -->
                    <div class="lp-getintouch-form animate__animated ">
                        <div class="lp-getintouch-form-container">
                            <h2 class="lp-getintouch-heading animate__animated animate__zoomIn animate__delay-5s">Get in touch</h2>
                            <p class="lp-getintouch-text animate__animated animate__zoomIn animate__delay-5s">Our highly experienced team of specialists, backed by best-in-class systems delivers an unparrel </p>
                            <form class="lp-contact-form" action="/action_page.php">
                                <label class="lp-contact-form-label animate__animated animate__zoomIn animate__delay-5s" for="fname">Your name:</label><br>
                                <input class="lp-contact-form-input animate__animated animate__zoomIn animate__delay-5s"type="text" id="fname" name="fname" value=""><br>
                                <label class="lp-contact-form-label animate__animated animate__zoomIn animate__delay-5s" for="lname">Email:</label><br>
                                <input class="lp-contact-form-input animate__animated animate__zoomIn animate__delay-5s"type="text" id="lname" name="lname" value=""><br>
                                <label class="lp-contact-form-label animate__animated animate__zoomIn animate__delay-5s" for="lname">Contact number:</label><br>
                                <input class="lp-contact-form-input animate__animated animate__zoomIn animate__delay-5s"type="text" id="lname" name="lname" value=""><br>
                                <label class="lp-contact-form-label animate__animated animate__zoomIn animate__delay-5s" for="lname">Company:</label><br>
                                <input class="lp-contact-form-input animate__animated animate__zoomIn animate__delay-5s"type="text" id="lname" name="lname" value=""><br><br>
                                <label class="lp-contact-form-privacy-policy-accept-container animate__animated animate__zoomIn animate__delay-5s">I agree to Fulcrum's conditions of use and <a class="privacy-link" href="" >privacy policy</a>.
                                    <input class="animate__animated animate__zoomIn animate__delay-5s" type="checkbox" id="Privacy" name="privacy" value="accept" checked="">
                                    <span class="checkmark animate__animated animate__zoomIn animate__delay-5s"></span><br>
                                </label>
                                <input class="lp-contact-form-submit-btn animate__animated animate__zoomIn animate__delay-5s" type="submit" value="Lets chat">
                            </form>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>

<!-- Landing page section BENEFITS -->
    <div id="lp-section-two-second-container" class="section animate__animated animate__slideInRight">
        <div class="lp-section-two-first-container">
            <!-- Benefits Heading -->
            <div class="row">
                <h1 class="benefits-header animate__animated animate__zoomIn animate__delay-1s">What are the financial benefits of Premium Financing?<h1>
            </div>
        </div>

        <div class="">
            <!-- Benefits Points -->
            <div class="row">
                <div class="col-md-7">
                    <div class="benefits-container">

                        <!-- Benefits Point One -->
                        <div class="benefit-container benefit-1 animate__animated animate__zoomIn animate__delay-1s">
                            <img class="benefit-icon hvr-bob" src="/web/assets/landingpages/lp-benefit-icon-1.svg"/>
                            <p class="benefit-text">Access to aggressive funding.</p>
                        </div>

                        <!-- Benefits Point Two -->
                        <div class="benefit-container benefit-2 animate__animated animate__zoomIn animate__delay-1s">
                            <img class="benefit-icon hvr-bob" src="/web/assets/landingpages/lp-benefit-icon-2.svg"/>
                            <p class="benefit-text">Preservation of capital by amortising insurance payment over the year.</p>
                        </div>

                        <!-- Benefits Point One -->
                        <div class="benefit-container benefit-3 animate__animated animate__zoomIn animate__delay-1s">
                            <img class="benefit-icon hvr-bob" src="/web/assets/landingpages/lp-benefit-icon-3.svg"/>
                            <p class="benefit-text">Additional source of finance at competitive rates which does not affect current banking facilities.</p>
                        </div>

                        <!-- Benefits Point One -->
                        <div class="benefit-container benefit-4 animate__animated animate__zoomIn animate__delay-1s">
                            <img class="benefit-icon hvr-bob" src="/web/assets/landingpages/lp-benefit-icon-4.svg"/>
                            <p class="benefit-text">Earn more on retained capital than through repaying annual insurance premiums.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Landing page section three TESTIMONIAL-->
    <div id="lp_section-four" class="section-grad animate__animated animate__slideInRight ">
        <div class="row">

            <!--Testimonial-->
            <div class="testimonial">
                <div class="testimonial-container">
                    <img class="open-quote animate__animated animate__zoomIn animate__delay-2s" src="/web/assets/landingpages/open-quote-mark.svg" alt="open-quote">
                    <h2 class="testimonial-quote animate__animated animate__zoomIn animate__delay-1s">Fulcrum provides seamless, <br>rapid Premium Finance solutions while taking care of collections.</h2>
                    <img class="close-quote animate__animated animate__zoomIn animate__delay-2s" src="/web/assets/landingpages/closing-quote-mark.svg" alt="close-quote"> 
                    <h5 class="testimonial-name animate__animated animate__fadeIn animate__delay-3s">Delarey van Dyk</h5>
                    <p class="testimonial-job-description animate__animated animate__fadeIn animate__delay-4s">Managing Director at Fulcrum Premium Finance</p>
                    
                </div>
            </div>

            <!-- Client logo Carousel -->
            <div class="container">
                <section class="customer-logos slider animate__animated animate__zoomIn animate__delay-5s">
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-1.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-2.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-3.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-4.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-5.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-6.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-1.svg"></div>
                    <div class="slide"><img src="/web/assets/landingpages/Client-icon-2.svg"></div>
                </section>
            </div> 
        
        </div>      
    </div>

<!-- Landing page section four WHY USE US-->
    <div id="lp_section-four" class="section animate__animated animate__zoomIn">

        <div class="row">
            <!-- Why use us heading-->
            <div class="why-use-us">
                <h2 class="Why-use-us-heading animate__animated animate__zoomIn animate__delay-1s">Why use us?</h2>
                <p class="Why-use-us-text animate__animated animate__zoomIn animate__delay-1s">In times of uncertainty businesses need a seamless and safe solution. Fulcrum remains SA’s most trusted, professional and reliable provider. </p>
            </div>           
        </div>

        <div class="row">

            <!-- Reason one -->
            <div class="reason-container col-md-4">
                <div id="reason-one">
                    <h4 class="reason-subheading animate__animated animate__zoomIn animate__delay-1s">SAVINGS</h4>
                    <h2 class="reason-heading animate__animated animate__zoomIn animate__delay-1s">Over R20k</h2>
                    <hr class="reason-hr animate__animated animate__zoomIn animate__delay-1s"/>
                    <p class="reason-text animate__animated animate__zoomIn animate__delay-1s">Average annual savings for brokers and business who swich to Premium Financing</p>
                </div>     
            </div>

            <!-- Reason two -->
            <div class="reason-container col-md-4">
                <div id="reason-two">
                    <h4 class="reason-subheading animate__animated animate__zoomIn animate__delay-1s">CLIENTS</h4>
                    <h2 class="reason-heading animate__animated animate__zoomIn animate__delay-1s">2 800+</h2>
                    <hr class="reason-hr animate__animated animate__zoomIn animate__delay-1s"/>
                    <p class="reason-text animate__animated animate__zoomIn animate__delay-1s">People trust us to insure what’s important to them</p>
                </div>     
            </div>

            <!-- Reason three -->
            <div class="reason-container col-md-4">
                <div id="reason-three">
                    <h4 class="reason-subheading animate__animated animate__zoomIn animate__delay-1s">BROKERS</h4>
                    <h2 class="reason-heading animate__animated animate__zoomIn animate__delay-1s">80+</h2>
                    <hr class="reason-hr animate__animated animate__zoomIn animate__delay-1s"/>
                    <p class="reason-text animate__animated animate__zoomIn animate__delay-1s">Brokers rely on us to assist their clients in aquiring the best Premium Finance solution</p>
                </div>     
            </div>

        </div>   

        </div>  
    </div>

    <div class="bubble-graphic animate__animated animate__zoomIn animate__delay-1s"><img src="/web/assets/landingpages/Fulcrum-gradient_circles-02.png" ></div>


<!-- Landing page section five FINAL PITCH-->
    <div id="lp_section-five" class="section-grey">
            <div class="row">
            
                <!-- Final Pitch text -->
                <div class="final-pitch-container">
                    <h2 class="final-heading animate__animated animate__zoomIn animate__delay-1s">A trusted and attractive financing solution for businesses with complex or costly annualised insurance.</h2>
                    <p class="final-text animate__animated animate__zoomIn animate__delay-1s">Where your clients have multiple lines of insurance with different insurers or where those insurers require premiums to be paid annually, Premium Finance may be the only solution.</p>
                    <a class="contact-btn standard-btn animate__animated animate__zoomIn animate__delay-2s" href="#lp_header-section">Contact us today</a>
                </div>
        
            </div>
    </div>


{% endblock %}


