<div class="bubble-animation-container">
            <h2 data-tilt class="about-us-heading">Fulcrum offers businesses a simple, sustainable financing solution that enables them to pay of their annual insurance premiums monthly thus, preserving cash flow and releasing VAT.</h2>
            <img data-tilt class="centre-circle" src="http://risingartstudio.co.za/web/assets/general/misc/bubble-animation/fulcrum-premium-fiance-animation__center.svg"/>
            <img data-tilt class="left-large" src="http://risingartstudio.co.za/web/assets/general/misc/bubble-animation/fulcrum-premium-fiance-animation__left-large.svg"/>
            <img data-aos="left-small-animate" data-tilt class="left-small" src="http://risingartstudio.co.za/web/assets/general/misc/bubble-animation/fulcrum-premium-fiance-animation__left-small.svg"/>
            <img data-tilt class="right-small" src="http://risingartstudio.co.za/web/assets/general/misc/bubble-animation/fulcrum-premium-fiance-animation__right-small.svg"/>
            <img data-tilt class="right-large" src="http://risingartstudio.co.za/web/assets/general/misc/bubble-animation/fulcrum-premium-fiance-animation__right-large.svg"/>
        </div>

        <script type="text/javascript">VanillaTilt.init(document.querySelector(".bubble-animation-container"), { max: 25,speed: 400 });</script>