<!-- CONTACT US FORM -->
<div id="contact-us-footer-homepage" class="contact-us-footer section">
    <div class="row">
        
        <!-- LEFT COLUMN - contact form -->
        <div class="col-md-6">
            <div class="contact-us-footer-container">
                <h3 class="contact-us-footer-heading">Let us call you back</h3>
                    <form class="cont" action="/action_page.php">
                        <input class="contact-us-footer-input"type="text" id="fname" name="fname" value="Name"><br>
                        <input class="contact-us-footer-input"type="text" id="fname" name="fname" value="Contact number"><br>
                        <input class="contact-us-footer-submit-btn" type="submit" value="Forward Details">
                    </form>
                <p class="contact-us-footer-text">have a look at some of our <b>latest client profiles</b></p>
            </div>
        </div>

        <!-- RIGHT COLUMN - contact us text -->
        <div class="col-md-6">
            <div class="contact-us-footer-right-side-container">
                <h2 class="contact-us-footer-right-side-header">How do brokers decide if Premium Finance is right for their clients?</h2>
                <p class="contact-us-footer-right-side-text">Brokers should consider Premium Financing for all their clients that have sizeable or complex insurance policies.
                </p>
            </div>
        </div>

    </div>
</div>