
<!-- FOOTER -->
<div data-aos="fade-up" data-aos-once="true" data-aos-duration="1000"class="footer-section section-grad ">
    <div class="footer-section-container">
        <div class="row">
        
            <!-- FOOTER LOGO COLUMN -->
           <div  data-aos="zoom-in" data-aos-once="true" data-aos-delay="1000" data-aos-duration="2000" id="footer-logo" class="col-md-2">
               <img class="fulcrum-footer-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg">
           </div>

           <!-- FOOTER MENU COLUMN 1 -->
            <div  data-aos="zoom-in" data-aos-once="true" data-aos-delay="1000" data-aos-duration="2000" id="footer-about-us" class="col-md-2">
               <h2 class="footer-menu-heading">ABOUT US</h2>
                <ul data-aos="zoom-in" data-aos-once="true" data-aos-delay="2000" data-aos-duration="2000" class="footer-menu-list">
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/about-us/#who-we-are">Who we are</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/what-we-offer/#why-choose-us">Why choose us</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/#the-benfits">Benefits</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/FAQ/">FAQ</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/blog">Blog</a></li>
                </ul>
            </div>

            <!-- FOOTER MENU COLUMN 2 -->
            <div data-aos="zoom-in" data-aos-once="true" data-aos-delay="1000" data-aos-duration="2000" id="footer-premium-finance" class="col-md-2">
                <h2 data-aos="zoom-in" data-aos-once="true" data-aos-delay="2000" data-aos-duration="2000" class="footer-menu-heading">PREMIUM FINANCE</h2>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/contact-us/">Get a quote</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/#testimonials">Testimonials</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="https://za.linkedin.com/company/fulcrum-group-sa">Community</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/what-we-offer/#about-fulcrum">Transparrency</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/what-we-offer/#client-profiles">Client Profiles</a></li>
                </ul>
            </div>

            <!-- FOOTER MENU COLUMN 3 -->
            <div data-aos="zoom-in" data-aos-once="true" data-aos-delay="1000" data-aos-duration="2000" id="footer-legal" class="col-md-2">
                <h2 data-aos="zoom-in" data-aos-once="true" data-aos-delay="2000" data-aos-duration="2000" class="footer-menu-heading">LEGAL</h2>
                <ul class="footer-menu-list">
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="/web/terms-of-use/">Terms of Use</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="">Cookie Policy</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-item-link" href="">Privacy Policy</a></li>
                </ul>
            </div>

            <!-- FOOTER MENU COLUMN 4 -->
            <div data-aos="zoom-in" data-aos-once="true" data-aos-delay="1000" data-aos-duration="2000" id="footer-newsletter" class="col-md-4">

                <div class="footer-newsletter-form-container">
                    <h2 class="footer-menu-heading">NEWSLETTER</h2>
                    <p class="footer-menu-list">Subscribe to our newsletter</p>
                    <form class="footer-subscribe-container cont" action="/action_page.php">
                        <input class="footer-subscribe-input"type="text" id="fname" name="fname" value="Enter your email"><br>
                        <input class="footer-subscribe-submit-btn" type="submit" value="&#x2794">
                    </form>
                </div>

                <div class="right-footer-col-heading-container">
                    <p class="follow-us">FOLLOW US</p>
                    
                    <div class="footer-social-media-icons-container">
                        <a id="footer-instagram" data-aos-duration="2000" class="footeru-social-icon hvr-scale" target="_blank" href="https://www.instagram.com/fulcrumeer/?hl=en"><img src="/web/assets/general/misc/social_media_icons/instagram_icon.svg"></a>
                        <a id="footer-facebook" data-aos-duration="2000" class="footer-social-icon hvr-scale" target="_blank" href="https://www.facebook.com/FulcrumPremiumFinance/"><img src="/web/assets/general/misc/social_media_icons/facebook_icon.svg"></a>
                        <a id="footer-twitter" data-aos-duration="2000" class="footer-social-icon hvr-scale" target="_blank"  href="https://twitter.com/fulcrumeer?lang=en"><img src="/web/assets/general/misc/social_media_icons/twitter_icon.svg"></a>
                        <a id="footer-youtube" data-aos-duration="2000" class="footer-social-icon hvr-scale" target="_blank"  href=""><img src="/web/assets/general/misc/social_media_icons/youtube_icon.svg"></a>
                        <a id="footer-linkedin" data-aos-duration="2000" class="footer-social-icon hvr-scale" target="_blank" href="https://za.linkedin.com/company/fulcrum-group-sa"><img src="/web/assets/general/misc/social_media_icons/linkedin_icon.svg"></a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div data-aos="zoom-in" data-aos-once="true" data-aos-delay="2000" data-aos-duration="2000" class="bottom-bar-container">
                <p class="bottom-bar-text">© FULCRUM PREMIUM FINANCE 2020. All rights reserved.</p>
            </div>        
        </div>
        
    </div>
</div>  