<!-- FULCRUM GET IN TOUCH FORM   -->
<div id="lp-contact_Form" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeForm()">&times;</a>
        <div class="lp-getintouch-form">
            <div class="lp-getintouch-form-container">
                <h2 class="lp-getintouch-heading">Get in touch</h2>
                <p class="lp-getintouch-text">Our highly experienced team of specialists, backed by best-in-class systems delivers an unparrel </p>
                <form class="lp-contact-form" action="/action_page.php">
                    <label class="lp-contact-form-label" for="fname">Your name:</label><br>
                    <input class="lp-contact-form-input"type="text" id="fname" name="fname" value=""><br>
                    <label class="lp-contact-form-label" for="lname">Email:</label><br>
                    <input class="lp-contact-form-input"type="text" id="lname" name="lname" value=""><br>
                    <label class="lp-contact-form-label" for="lname">Contact number:</label><br>
                    <input class="lp-contact-form-input"type="text" id="lname" name="lname" value=""><br>
                    <label class="lp-contact-form-label" for="lname">Company:</label><br>                                <input class="lp-contact-form-input"type="text" id="lname" name="lname" value=""><br><br>
                    <!--<label class=" ">I agree to Fulcrum's conditions of use and <a class="privacy-link" href="" >privacy policy</a>.
                        <input class="" type="checkbox" id="Privacy" name="privacy" value="accept" checked="">
                        <span class="checkmark"></span><br>
                    </label> -->
                    <input class="lp-contact-form-submit-btn" type="submit" value="Lets chat">
                </form>
            </div>
        </div>
</div>