

    <div class="row-1">
        <div class="col-md-12">
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <!-- slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">         <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-1.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">Fulcrum provides seamless, rapid Premium Finance solutions while taking care of collections</h2>
                <h3 class="team-member-name">Delarey van Dyk</h3>
                <p class="team-member-position">Managing Director</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
        </div>



                    <div class="carousel-item">         
                    <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-2.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">Trust is earned when actions align with words.</h2>
                <h3 class="team-member-name">Taryn Garson</h3>
                <p class="team-member-position">Portfolio Manager Gauteng</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
         </div>
                    
                    
                    
                    <div class="carousel-item">        
                     <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-3.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">Excellence is doing ordinary things, extraordinarily well.</h2>
                <h3 class="team-member-name">Bonita Faria</h3>
                <p class="team-member-position">Portfolio Manager Western & Eastern Cape</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
         </div>
                    
                    
                    
                    
                    <div class="carousel-item">         
                    <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-4.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">What you put in, is what you get out.</h2>
                <h3 class="team-member-name">Valecia McIntosh</h3>
                <p class="team-member-position">Portfolio Manager Kwazulu Natal</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
         </div>


   <div class="carousel-item">        
                     <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-5.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">Alter your course without changing your destination.</h2>
                <h3 class="team-member-name">Pete</h3>
                <p class="team-member-position">To be confirmed</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
         </div>
                    
                    
                    
                    
                    <div class="carousel-item">         
                    <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-6.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">Always improving, in small steps or giant leaps.</h2>
                <h3 class="team-member-name">Sandy Cowan</h3>
                <p class="team-member-position">National Operations manager</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
         </div>



   <div class="carousel-item">        
                     <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-7.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">Fulcrum delivers progressive game-changing solutions that enable business.</h2>
                <h3 class="team-member-name">Emmanuel Thetsane</h3>
                <p class="team-member-position">Portfolio Manager Gauteng</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
         </div>
                    
                    
                    
                    
                    <div class="carousel-item">         
                    <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-8.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">Being able to see things from a different perspective helps us define the solution that best suits your needs.</h2>
                <h3 class="team-member-name">Dominic Booysen</h3>
                <p class="team-member-position">Portfolio Manager Gauteng</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
         </div>


                             <div class="carousel-item">         
       <div class="profile-container"> 
            <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-9.png" alt="Delarey_van_Dyk"></div>
            <div class="profile-info">
                <h2 class="team-member-quote">There are always many solutions with their pro’s and cons, we will find one that completely fill your needs.</h2>
                <h3 class="team-member-name">Alice</h3>
                <p class="team-member-position">To be confirmed</p>
                <img class="fulcrum-team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>
         </div>


        
                </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                <ol class="carousel-indicators list-inline">
                    <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"><div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-1.png" alt="Delarey_van_Dyk" class="img-fluid"></div></li>
                    <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-2.png" alt="Delarey_van_Dyk" class="img-fluid"></div> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-3.png" alt="Delarey_van_Dyk" class="img-fluid"></div> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-3" data-slide-to="3" data-target="#custCarousel"> <div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-4.png" alt="Delarey_van_Dyk" class="img-fluid"></div> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-4" data-slide-to="4" data-target="#custCarousel"> <div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-5.png" alt="Delarey_van_Dyk" class="img-fluid"></div> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-5" data-slide-to="5" data-target="#custCarousel"> <div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-6.png" alt="Delarey_van_Dyk" class="img-fluid"></div> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-6" data-slide-to="6" data-target="#custCarousel"> <div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-7.png" alt="Delarey_van_Dyk" class="img-fluid"></div> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-7" data-slide-to="7" data-target="#custCarousel"> <div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-8.png" alt="Delarey_van_Dyk" class="img-fluid"></div> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-8" data-slide-to="8" data-target="#custCarousel"> <div class="profile-image-thumnail"><img src="/web/assets/general/about-us/team-members/team-member-9.png" alt="Delarey_van_Dyk" class="img-fluid"></div> </a> </li>
                </ol>
            </div>
        </div>
    </div>









