<!-- Full-width images with number text -->
<div class="mySlides">
  <div class="row">
    <div class="team-member-container">
        <div class="profile-image-container col-md-6">
            <div class="profile-image">
                <img src="/web/assets/general/about-us/team-members/team-member-1.png">
            </div>
        </div>

        <div class="about-me-container col-md-6">
            <div class="about-me">
                <h2 class="team-member-quote">Fulcrum provides seamless, rapid Premium Finance solutions while taking care of collections</h2>
                <h3 class="team-member-name">Delarey van Dyk</h3>
                <p class="team-member-position">Managing Director</p>
                <img class="team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>    
    </div>
  </div>              
</div>

<div class="mySlides">
  <div class="row">
    <div class="team-member-container">
        <div class="profile-image-container col-md-6">
            <div class="profile-image">
                <img src="/web/assets/general/about-us/team-members/team-member-2.png">
            </div>
        </div>

        <div class="about-me-container col-md-6">
            <div class="about-me">
                <h2 class="team-member-quote">Alter your course without changing your destination </h2>
                <h3 class="team-member-name">Delarey van Dyk</h3>
                <p class="team-member-position">Managing Director</p>
                <img class="team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>    
    </div>
  </div>              
</div>

<div class="mySlides">
  <div class="row">
    <div class="team-member-container">
        <div class="profile-image-container col-md-6">
            <div class="profile-image">
                <img src="/web/assets/general/about-us/team-members/team-member-3.png">
            </div>
        </div>

        <div class="about-me-container col-md-6">
            <div class="about-me">
                <h2 class="team-member-quote">Excellence is doing ordinary things, extraordinary well.</h2>
                <h3 class="team-member-name">Delarey van Dyk</h3>
                <p class="team-member-position">Managing Director</p>
                <img class="team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>    
    </div>
  </div>              
</div>

<div class="mySlides">
  <div class="row">
    <div class="team-member-container">
        <div class="profile-image-container col-md-6">
            <div class="profile-image">
                <img src="/web/assets/general/about-us/team-members/team-member-4.png">
            </div>
        </div>

        <div class="about-me-container col-md-6">
            <div class="about-me">
                <h2 class="team-member-quote">What you put it in, is what you get out</h2>
                <h3 class="team-member-name">Delarey van Dyk</h3>
                <p class="team-member-position">Managing Director</p>
                <img class="team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>    
    </div>
  </div>              
</div>


<div class="mySlides">
  <div class="row">
    <div class="team-member-container">
        <div class="profile-image-container col-md-6">
            <div class="profile-image">
                <img src="/web/assets/general/about-us/team-members/team-member-4.png">
            </div>
        </div>

        <div class="about-me-container col-md-6">
            <div class="about-me">
                <h2 class="team-member-quote">Always improving - in small steps or giant leaps.</h2>
                <h3 class="team-member-name">Delarey van Dyk</h3>
                <p class="team-member-position">Managing Director</p>
                <img class="team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>    
    </div>
  </div>              
</div>


<div class="mySlides">
  <div class="row">
    <div class="team-member-container">
        <div class="profile-image-container col-md-6">
            <div class="profile-image">
                <img src="/web/assets/general/about-us/team-members/team-member-4.png">
            </div>
        </div>

        <div class="about-me-container col-md-6">
            <div class="about-me">
                <h2 class="team-member-quote">Trust is earned when actions align with words.</h2>
                <h3 class="team-member-name">Delarey van Dyk</h3>
                <p class="team-member-position">Managing Director</p>
                <img class="team-logo" src="/web/assets/general/misc/Fulcrum_Premium_Finance-White_logo.svg"/>
            </div>
        </div>    
    </div>
  </div>              
</div>

<!-- Next and previous buttons -->
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

<!-- Image text -->
<div class="caption-container">
  <p id="caption"></p>
</div>

<!-- Thumbnail images -->
<div class="row">
    <div class="thumbnail-container">
  <div class="meet-the-team-column">
    <img class="profile-image-thumbnail demo cursor" src="/web/assets/general/about-us/team-members/team-member-1.png" onclick="currentSlide(1)" alt="">
    <h3 class="profile-name">Delaray van Dyk</h3>
    <p class="profile-position">Managing Director</p>
  </div>
  <div class="meet-the-team-column">
    <img class="profile-image-thumbnail demo cursor" src="/web/assets/general/about-us/team-members/team-member-2.png"  onclick="currentSlide(2)" alt="">
    <h3 class="profile-name">Delaray van Dyk</h3>
    <p class="profile-position">Managing Director</p>
  </div>
  <div class="meet-the-team-column">
    <img class="profile-image-thumbnail demo cursor" src="/web/assets/general/about-us/team-members/team-member-3.png"  onclick="currentSlide(3)" alt="">
  <h3 class="profile-name">Delaray van Dyk</h3>
    <p class="profile-position">Managing Director</p>
  </div>
  <div class="meet-the-team-column">
    <img class="profile-image-thumbnail demo cursor" src="/web/assets/general/about-us/team-members/team-member-4.png"  onclick="currentSlide(4)" alt="">
  <h3 class="profile-name">Delaray van Dyk</h3>
    <p class="profile-position">Managing Director</p>
    </div>
  <div class="meet-the-team-column">
    <img class="profile-image-thumbnail demo cursor" src="/web/assets/general/about-us/team-members/team-member-4.png"  onclick="currentSlide(5)" alt="">
  <h3 class="profile-name">Delaray van Dyk</h3>
    <p class="profile-position">Managing Director</p>
    </div>
  <div class="meet-the-team-column">
    <img class="profile-image-thumbnail demo cursor" src="/web/assets/general/about-us/team-members/team-member-4.png"  onclick="currentSlide(6)" alt="">
  <h3 class="profile-name">Delaray van Dyk</h3>
    <p class="profile-position">Managing Director</p>
    </div>
</div>
</div>
</div> 

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>