<!-- WHY CHOOSE US - carousel -->
 <div class="container">
    <div class="row-1">
        <div class="col-md-12">
            <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <ol class="carousel-indicators list-inline">
                    <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <span class="number-icon">1</span> First </a></li>
                    <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <span class="number-icon">1</span> First </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <span class="number-icon">1</span> First </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-3" data-slide-to="3" data-target="#custCarousel"> <span class="number-icon">1</span> First </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-4" data-slide-to="4" data-target="#custCarousel"> <span class="number-icon">1</span> First </a> </li>
                </ol>
                <!-- slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <div data-aos="zoom-in" data-aos-once="true" data-aos-duration="2000" class="col-md-6">
            <h2 data-aos="zoom-in" data-aos-once="true" data-aos-delay="1000" data-aos-duration="2000" class="our-premium-heading">Our Premium Financing solution</h2>
            <p data-aos="zoom-in" data-aos-once="true" data-aos-delay="2000" data-aos-duration="2000" class="our-premium-text">Our simple, established and independently funded financing solution is provided at sustainable rates that still beat the bank and undercut the premiums charged by insurers themselves. </p>
            <a data-aos="zoom-in" data-aos-once="true" data-aos-delay="3000" data-aos-duration="2000" href="" class="our-premium-btn standard-btn">Learn more</a>
        </div>

        
        <div class="profile-image"><img src="/web/assets/general/about-us/team-members/team-member-1.png" alt="Delarey_van_Dyk"></div>
                    
                    </div>
                    <div class="carousel-item"> <img src="https://i.imgur.com/Rpxx6wU.jpg" alt="Hills"> </div>
                    <div class="carousel-item"> <img src="https://i.imgur.com/83fandJ.jpg" alt="Hills"> </div>
                    <div class="carousel-item"> <img src="https://i.imgur.com/JiQ9Ppv.jpg" alt="Hills"> </div>
                </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->

            </div>
        </div>
    </div>


    <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for image in images %}
            <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
            {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for image in images %}
            <div {% if loop.index0 == 0 %} class="item-active" {% else %} class="item" {% endif %}> 
                <img class="img-responsive center-block" alt="{{ image }}" src="images/{{ image }}"/>
            </div>
        {% endfor %}
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>











<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active"> <img class="img-responsive center-block" alt="image1" src="images/image1.png"></div>
        <div class="item"> <img class="img-responsive center-block" alt="image2" src="images/image2.png"></div>
        <div class="item"> <img class="img-responsive center-block" alt="image3" src="images/image3.png"></div>
        <div class="item"> <img class="img-responsive center-block" alt="image4" src="images/image4.png"></div>
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>